/*
新增404样式*/
.can-t-find img{
		  display: block;
	    margin: 0 auto;
	    margin-top: 40px;
	}
	.can-t-find p{
	text-align: center;
	}
	.can-t-find p:nth-of-type(1){
    font-size: 22px;
    color: #191414;
	}
	.can-t-find p:nth-of-type(2){
    margin-top: 20px;
    font-size: 16px;
    color: #999999;
	}
	.can-t-find a{
		color: #078EEE;
    text-decoration: none;
    width: 150px;
    height: 52px;
    line-height: 52px;
    border: 1px solid #078EEE;
    border-radius: 30px;
    font-size: 16px;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 26px;
    cursor:pointer;
	}
	.invest-bg-wrap {
	    width: 100%;
  /* background: url(../img/invest-detail-bg.png) no-repeat #fafafa; */
  background-size: 100% auto;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 124px;
  }