@charset "utf-8";
/*二维码弹出*/
.scanning{
	width:138px;
	height:336px;
	background: #FFFFFF;
	position: fixed;
	top: 218px;
    right: 70px;
	border-radius:5px;
	display: none;
	
}
.scanning>div{
	width: 128px;
	height: 150px;
	text-align: center;
}
.scanning img{
	width: 116px;
	margin: 20px 0 5px 10px;
}
.scanning .xj{
	display: block;
	font-size: 14px;
	color: #666666;
	margin-left: 10px;
}
/*右侧悬浮框*/
body{
	position: relative;
}
.suspended-frame{
	position:fixed;
	top:400px;
	right: 10px;
	z-index: 99;
	width: 50px;
	height: 280px;
	
}
.suspended-con li{
    padding: 10px 10px;
   	border-bottom: 1px solid #EEEEEE;
	
}
.suspended-con li:last-child{
	margin-top: 30px;
	border: 1px solid #EEEEEE;
	border-bottom: none;
	color: #0F7EBC;
}
.suspended{
	font-size: 30px;
    color: #0F7EBC;

}
.suspended-con li:hover span{
	  display: block;
    background: #0F7EBC;
    text-align: center;
    position: fixed;
    top: 395px;
    right: 10px;
    z-index: 99;
    width: 50px;
    height: 50px;
    line-height: 20px;
    color: #FFFFFF;
    font-size: 14px;
    padding-top: 6px;
	
}
.suspended-con li:nth-of-type(1){
	background: #FFFFFF;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
.suspended-con li:nth-of-type(2){
	background: #FFFFFF;
}
.suspended-con li:nth-of-type(3){
	background: #FFFFFF;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px ;

}
.suspended-con li:nth-of-type(4){
	border-bottom: none;
}
.suspended-con li:nth-of-type(5){
	background: #FFFFFF;
	border-radius:5px;
}
.suspended-con li:nth-of-type(1):hover span{
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
.suspended-con li:nth-of-type(2):hover span{
	top:451px;
}
.suspended-con li:nth-of-type(2):hover .scanning{
	display: block;
	border-radius:5px;
}
.suspended-con li:nth-of-type(3):hover span{
	top:503px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

.suspended-con .hg{
	display: none;
}

/*顶部bar*/
.hbar{
	height: 40px;
	line-height: 40px;
	background-color: #292d31;
	color: #b1b1b1;
	font-size: 14px;
}
.hbar-container{
	width: 1200px;
	margin: 0 auto;
}

.hbar-right{
	float: right;
}

.qr-item{
	float: left;
	height: 40px;
	position: relative;
	margin-left: 36px;
	cursor: pointer;
}
.qr-item .iconfont{
	font-size: 16px;
	vertical-align: middle;
	margin-right: 6px;
}

.qr-item:hover{
	color: #f0f0f0;
}

.pic-box{
	display: none;
	position: absolute;
	left: -20px;
	bottom: -145px;
	z-index: 999;
}
.pic-box img{
	display: block;
}

/*首页头部导航*/
.header {
	width: 100%;
	z-index: 9;
}

.c-nav {
	width: 100%;
	background-color: #fff;
}

.c-nav .box-nav {
	width: 1200px;
	height: 80px;
	margin: 0 auto;
}

.c-nav .box-nav .logo {
	display: inline-block;
	width: 140px;
	height: 40px;
	margin-top: 15px;
}

.c-nav .box-nav .logo img {
	/*width: 140px;*/
	height: 50px;
}

/*主导航*/
.index-nav {
	float: right;
}

.index-nav > li {
	float: left;
}

.index-nav a {
	display: block;
	height: 80px;
	line-height: 80px;
	color: #2b2b2b;
	font-size: 17px;
	box-sizing: border-box;
	padding: 0 35px;
}

.index-nav a:hover {
	color: #078eee;
}



/*右边登录、注册、账户*/
.myself{
	float: right;
	width: 120px;
	height: 100%;
	position: relative;
}
.myself .vl{
	width: 1px;
	height: 20px;
	background-color: #999;
	position: absolute;
	left: 0;
	top: 30px;
}

/*未登录*/
.not-avatar{
	display: none;
	height: 80px;
	line-height: 80px;
}
.not-avatar a{
	color: #078eee;
	font-size: 14px;
	margin-left: 20px;
}

/*已登录*/
.avatar {
	display: none;
	width: 120px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	cursor: pointer;
	position: relative;
}

.avatar .iconfont {
	font-size: 35px;
	color: #666;
}

.avatar ul {
	display: none;
	position: absolute;
	top: 80px;
	left: 0;
	z-index: 9;
	background-color: #fff;
	border-top: none;
	width: 120px;
	padding: 8px 0;
}

.avatar ul li {
	font-size: 15px;
	height: 50px;
	line-height: 50px;
}
.avatar ul li a:hover{
  color: #078eee;
}


/*banner轮播图*/

.banner {
	width: 100%;
	position: relative;
}

.banner .swiper-wrapper {
	width: 100%;
	height: 590px;
}
.banner .swiper-wrapper .swiper-slide{
	width: 100%;
}
.swiper-slide-active{
	z-index: 9;
}
.banner .swiper-wrapper .swiper-slide img {
	width: 1920px;
	height: 100%;
	position: absolute;
	left: calc(50% - 960px);
}

.banner .swiper-button-prev {
	left: 30px;
}

.banner .swiper-button-prev i {
	left: 10px;
}

.banner .swiper-button-next {
	right: 25px;
}

.banner .swiper-button-next i {
	left: 15px;
}

.banner .swiper-button-prev,
.banner .swiper-button-next {
	background: none;
	background-color: rgba(255, 255, 255, 0);
	width: 65px;
	height: 65px;
	line-height: 65px;
	border-radius: 50%;
	top: 45%;
}

.banner .swiper-button-prev:hover,
.banner .swiper-button-next:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

.banner .swiper-button-prev i,
.banner .swiper-button-next i {
	color: rgba(255, 255, 255, 0);
	font-size: 40px;
	position: absolute;
	top: 2px;
}

.banner .swiper-btn {
	z-index: 999;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.banner:hover .swiper-btn {
	background-color: rgba(255, 255, 255, 0.3);
}

.banner:hover .swiper-btn>i {
	color: rgba(255, 255, 255, 0.95);
}

.banner .swiper-pagination {
	position: absolute;
	bottom: 150px !important;
}

.banner .swiper-pagination .swiper-pagination-bullet {
	background-color: #e5e5e5;
}

.banner .swiper-pagination .swiper-pagination-bullet-active {
	background-color: #fff;
}

.banner .c-login {
	width: 300px;
	height: 330px;
	background-color: rgba(255, 255, 255, 0.85);
	position: absolute;
	left: calc(50% + 300px);
	top: 74px;
	z-index: 9;
	text-align: center;
	border-radius: 6px;
}

.banner .c-login h3 {
	font-size: 18px;
	color: #666;
	margin-top: 45px;
}

.banner .c-login .x-r {
	font-size: 42px;
	color: #ff5b52;
	margin-top: 20px;
	font-weight: bold;
}

.banner .c-login .r-btn {
	display: inline-block;
	width: 230px;
	height: 53px;
	line-height: 53px;
	font-size: 17px;
	color: #fff;
	background-color: #ff5b52;
	border-radius: 27px;
	margin-top: 38px;
	transition: all 0.1s linear;
}

.banner .c-login .r-btn:hover {
	/*background: linear-gradient(to right, #ff766e, #fa5451);*/
	box-shadow: 0px 6px 16px rgba(255, 91, 82, 0.3);
}

.banner .c-login .x-z {
	font-size: 14px;
	margin-top: 24px;
}

.banner .c-login .x-z a {
	color: #078eee;
}


/*登录状态*/
.hava-login-ky {
	/*display: none;*/
}

.c-login .account-name {
	margin: 45px auto 22px;
	font-size: 16px;
	color: #666;
}

.c-login .default_avatar {
	display: block;
	margin: 0 auto;
}

.c-login .asset-btn {
	display: block;
	width: 230px;
	height: 53px;
	line-height: 53px;
	font-size: 17px;
	color: #fff;
	background-color: #ff5b52;
	border-radius: 27px;
	margin: 26px auto 0;
	transition: all 0.1s linear;
}

.asset-btn:hover {
	/*background: linear-gradient(to right, #ff766e, #fa5451);*/
	box-shadow: 0px 6px 16px rgba(255, 91, 82, 0.3);
}

/*平台数据*/
.banner .data-box {
	width: 100%;
	background-color: #fff;
	opacity: 0.95;	/*部分浏览器兼容*/
	filter: opacity(0.95);
	background: rgba(255, 255, 255, 0.95);
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 2;
}

.banner .data-box .d-b {
	width: 1200px;
	height: 130px;
	margin: 0 auto;
}

.banner .data-box .d-b .data-c {
	width: 398px;
	height: 130px;
	float: left;
	text-align: center;
}

.banner .data-box .d-b .data-c dt {
	height: 50px;
	line-height: 50px;
	margin-top: 26px;
	font-size: 36px;
	color: #2b2b2b;
	font-weight: bold;
	letter-spacing: 1px;
	font-family: myfont !important;
	letter-spacing: 3px;
}

.banner .data-box .d-b .data-c dd {
	font-size: 16px;
	color: #666;
	margin-top: 2px;
}

.banner .data-box .v-line {
	width: 1px;
	height: 30px;
	background-color: #BBBBBB;
	float: left;
	margin-top: 50px;
}


/*安全风控*/
.security {
	width: 100%;
	background-color: #fff;
}
.security .security-container {
	width: 1200px;
	/*height: 370px;*/
	margin: 0 auto;
}

/*通知*/
.notice-panel{
	display: none;
	height: 50px;
	line-height: 50px;
	overflow: hidden;
	border-bottom: 1px solid #f0f0f0;
	position: relative;
}

.notice-panel > .iconfont{
	color: #dedede;
	font-size: 22px;
	margin-right: 20px;
	vertical-align: middle;
	float: left;
	height: 50px;
}

.notice-panel ul{
	min-width: 600px;
	height: 40px;
	position: absolute;
	left: 52px;
	top: 5px;
	overflow: hidden;
}
.notice-panel ul li{
	display: inline-block;
	position: absolute;
	height: 40px;
	line-height: 40px;
}
.notice-panel ul li:nth-of-type(1){
	top: 0;
}
.notice-panel ul li:nth-of-type(2){
	top: 40px;
}

.notice-content{
	display: inline-block;
	width: 400px;
	font-size: 14px;
	padding-right: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.notice-preview{
	display: inline-block;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
}
.notice-date{
	color: #999;
	font-size: 14px;
	margin-left: 20px;
	vertical-align: middle;
	height: 40px;
	line-height: 40px;
	display: inline-block;
}

.notice-more{
	float: right;
	color: #999;
	font-size: 14px;
	margin-right: 40px;
}
.notice-more .iconfont{
	font-size: 30px;
	vertical-align: middle;
}
.notice-more:hover{
	color: #2b2b2b;
}

.security-list{
	overflow: hidden;
	padding-top: 20px;
}
.security-list li{
	float: left;
	width: 300px;
	height: 160px;
	text-align: center;
}
.security-list li:nth-of-type(1){
	background: url(../img/security_1.png) no-repeat center;
}
.security-list li:nth-of-type(2){
	background: url(../img/security_2.png) no-repeat center;
}
.security-list li:nth-of-type(3){
	background: url(../img/security_3.png) no-repeat center;
}
.security-list li:nth-of-type(4){
	background: url(../img/security_4.png) no-repeat center;
}

.security-label {
	padding-bottom: 60px;
}

.security-label dl {
	float: left;
	width: 300px;
	text-align: center;
}

.security-label dl dt {
	font-size: 22px;
}

.security-label dl dd {
	color: #666;
	font-size: 14px;
	margin-top: 6px;
}


/*****  主体内容   *****/

.ky-sky {
	width: 100%;
	height: 1190px;
	background: url(../img/c-1.png) no-repeat;
	background-size: 100% 1200px;
	box-sizing: border-box;
	padding-top: 100px;
}


/*****单个标*****/

.ky-item {
	width: 1200px;
	height: 272px;
	margin: 0 auto;
	background-color: #fff;
	margin-bottom: 70px;
	box-sizing: content-box;
	border: 1px solid #ddd;
	overflow: hidden;
}


/*左边*/
.ky-item-left {
	width: 230px;
	height: 100%;
	float: left;
	text-align: center;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.ky-item-left h2 {
	width: 100%;
	font-size: 30px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	margin: 34px 0 20px;
}

.ky-item-left i {
	display: inline-block;
	margin-bottom: 10px;
	color: #fff;
	font-size: 56px;
}

.ky-item-left p {
	color: #fff;
	font-size: 14px;
	line-height: 26px;
}

.ky-item-left.blue {
	background-color: #60bdff;
}
.ky-item-left.red {
	background-color: #ff766e;
}
.ky-item-left.orange {
	background-color: #ffaa6c;
}

.ky-item-left.blue h2 {
	text-shadow: 5px 5px 10px #3184be;
}
.ky-item-left.red h2 {
	text-shadow: 5px 5px 10px #e54239;
}
.ky-item-left.orange h2{
	text-shadow: 5px 5px 10px #d56d19;
}


/*右边*/
.ky-item-right {
	width: 970px;
	height: 100%;
	background-color: #fff;
	float: left;
	box-sizing: border-box;
	padding: 0 60px;
}

.ky-item-right h3 {
	height: 36px;
	line-height: 36px;
	color: #2b2b2b;
	font-size: 18px;
	margin-top: 30px;
}

.ky-item-right h3 a {
	color: #999;
	float: right;
	margin-right: 20px;
	font-size: 16px;
	transition: all 0.1s linear;
}

.ky-item-right h3 a:hover {
	color: #2b2b2b;
}

.ky-item-right h3 a .iconfont {
	font-size: 30px;
	vertical-align: middle;
}

.ky-item-right h3 a span {
	vertical-align: middle;
}

.ky-item-right .linex {
	margin-top: 18px;
	height: 1px;
	background-color: #eeeff2;
}


/*右边详情数据*/

.item-info {
	margin-top: 40px;
	box-sizing: border-box;
	transition: all 0.4s ease-in-out;
}
.item-info:hover{
	transform: translateX(5px);
}


.item-info li {
	height: 108px;
	float: left;
}

.item-info li p {
	height: 54px;
	display: table-cell;
	vertical-align: bottom;
}

.item-info li .i-b {
	display: inline-block;
	color: #666;
	line-height: 54px;
}

.item-info .li-1 {
	width: 25%;
	text-align: left;
}

.item-info .li-2 {
	width: 20%;
}

.item-info .li-3 {
	text-align: left;
	width: 25%;
}


/*进度条*/
.progress-box {
	height: 54px;
	box-sizing: border-box;
	font-size: 0;
	overflow: hidden;
}

.progress-box .ky-progress {
	display: inline-block;
	vertical-align: middle;
	width: 140px;
	height: 12px;
	border-radius: 6px;
	background-color: #f1f1f1;
	overflow: hidden;
	text-align: left;
	margin-top: 18px;
}

.progress-box .ky-progress .ky-progress-bar {
	display: inline-block;
	float: left;
	height: 100%;
	background-color: #078eee;
}

.item-info .li-3 .progress-box .rate-t {
	display: inline-block;
	font-size: 22px;
	color: #2b2b2b;
	margin-top: 18px;
	vertical-align: middle;
	margin-left: 10px;
}

.item-info .li-3 .i-b {
	width: 140px;
	text-align: center;
}

.item-info .li-4 {
	width: 23%;
	float: right;
}

.item-info .li-4 .invest-btn {
	display: block;
	width: 152px;
	height: 54px;
	line-height: 54px;
	text-align: center;
	border-radius: 27px;
	margin-left: 32px;
	margin-top: 36px;
	box-sizing: border-box;
	border: 1px solid #078eee;
	color: #078eee;
}

.item-info .li-4 .invest-btn:hover {
	background-color: #078eee;
	color: #fff;
}

/*转让金额*/
.zr-account {
	width: 140px;
	text-align: center;
}


/*操作指南*/
.handle-wrap {
	width: 100%;
	height: 520px;
	background: url(../img/bg_handle.png) no-repeat;
	background-position: center;
	position: relative;
}
.handle-container{
	width: 1200px;
	height: 520px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	margin: auto;
}
.handle-gif{
	width: 260px;
	height: auto;
	position: absolute;
	left: 103px;
	top: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/*平台公告、常见问题*/
.cnq {
	height: 430px;
	background-color: #fff;
	position: relative;
}

.cnq .cnq-box {
	width: 1200px;
	height: 430px;
	background-color: #fff;
	margin: auto;
	box-sizing: border-box;
	padding-top: 46px;
}

.cnq .cnq-box .nq {
	width: 600px;
	float: left;
	box-sizing: border-box;
	padding-left: 56px;
	padding-right: 60px;
}

.cnq .cnq-box .nq h3 {
	font-size: 18px;
	height: 26px;
	line-height: 26px;
	position: relative;
}

.cnq .cnq-box .nq h3 > i {
	display: inline-block;
	vertical-align: middle;
	margin-right: 13px;
	font-size: 26px;
	color: #078eee;
}

.cnq .cnq-box .nq h3 a {
	font-size: 16px;
	color: #999;
	float: right;
	transition: all 0.1s linear;
}

.cnq .cnq-box .nq h3 a:hover {
	color: #2b2b2b;
}

.cnq .cnq-box .nq h3 a span {
	vertical-align: middle;
}

.cnq .cnq-box .nq h3 a i {
	font-size: 32px;
	vertical-align: middle;
}

.cnq .cnq-box .nq .nq-line {
	height: 1px;
	background-color: #ddd;
	margin-top: 16px;
}

.cnq .cnq-box .nq ul {
	margin-top: 14px;
}

.cnq .cnq-box .nq ul li {
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	position: relative;
	padding-right: 150px;
}

.cnq .cnq-box .nq ul li a {
	display: inline-block;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #666;
}

.cnq .cnq-box .nq ul li a:hover {
	color: #2b2b2b;
}

.cnq .cnq-box .nq ul li span {
	font-size: 13px;
	color: #999;
	position: absolute;
	right: 12px;
}


/*----------注册、登录、忘记密码----------*/

.full-screen {
	width: 100%;
	height: 100%;
	min-height: 690px;
	min-width: 1200px;
}

.full-body {
	width: 100%;
	height: 100%;
	/*background: url(../img/login-bg.png) no-repeat;*/
	background-position: center center;
	background-size: 100% 100%;
}

/*头部*/
.simple-header {
	background-color: #fff;
}

.simple-header .simple-header-container {
	width: 1200px;
	height: 80px;
	margin: 0 auto;
}

.simple-header .simple-header-container img {
	margin-top: 15px;
}

.simple-header-right {
	height: 80px;
	font-size: 16px;
	float: right;
	padding: 30px 0;
	box-sizing: border-box;
	display: flex;
}

.simple-header-right li {
	height: 20px;
	line-height: 20px;
}
.simple-header-right li.vline {
	width: 1px;
	background-color: #eee;
	margin: 0 20px;
}
.simple-header-right li a:hover {
	color: #078eee;
}

/*中间*/
.cjb-container {
	width: 100%;
	height: 640px;
	background-image: url(../img/cjb_banner.png);
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}

.content-box {
	width: 460px;
	height: 560px;
	height: 480px;
	background-color: #fff;
	border-radius: 6px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	z-index: 1;
	margin: auto 0 auto 140px;
}
.content-box h3 {
	margin-top: 40px;
	margin-bottom: 54px;
	font-size: 22px;
	text-align: center;
	color: #2b2b2b;
}
.content-box.reg {
	height: 560px;
}
.content-box h3.reg {
	margin-bottom: 30px;
}
.content-box.pwd {
	height: 500px;
}

/*底部*/
.cjb-foot {
	width: 1200px;
	margin: 25px auto;
	color: #999;
}
.cjb-foot span {
	display: inline-block;
	height: 15px;
	line-height: 15px;
	border-left: 1px solid #999;
	margin-left: 8px;
	padding-left: 8px;
}


/***公用表单***/

.input-row {
	width: 340px;
	height: 72px;
	margin: 0 auto;
	position: relative;
}

.input-row>input {
	width: 100%;
	height: 48px;
	border: 1px solid #bbb;
	border-radius: 8px;
	padding-left: 20px;
	background-color: rgba(255, 255, 255, 0.1);
	box-sizing: border-box;
}

.input-row button {
	background-color: rgba(255, 255, 255, 0.1);
	width: 120px;
	height: 48px;
	color: #078eee;
	font-size: 14px;
	border: none;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 0;
}


/*按钮*/

.btn-row {
	display: block;
	width: 340px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-radius: 6px;
	background-color: #078eee;
	border: none;
	color: #fff;
	font-size: 18px;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}


/*表单错误信息样式*/

.form-error-msg {
	color: #ee0000;
}

.icon-cuowu {
	font-size: 12px;
}

.input-row span.form-error-msg {
	font-size: 12px;
}

.link-row {
	text-align: center;
	margin-top: 25px;
	font-size: 14px;
}


/*协议行*/

.input-row.agr-row {
	height: 50px;
	font-size: 14px;
}

.agr-row input[type="checkbox"] {
	width: 15px;
	height: 15px;
}

/*弹出图片验证码*/
.popup-captcha-box {
	display: none;
	width: 510px;
	height: 200px;
	background-color: #fff;
	border-radius: 6px;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	margin: 200px auto 0;
	padding-top: 80px;
}

.captcha-img {
	outline: none;
	border: none;
	width: 120px;
	height: 46px;
	border-bottom-right-radius: 8px;
	border-top-right-radius: 8px;
	position: absolute;
	right: 0;
	top: 0;
}

.suc-close {
	font-size: 18px;
	position: absolute;
	right: 16px;
	top: 10px;
	color: #666;
	cursor: pointer;
}


/*注册：个人、企业*/

.tab-nav {
	width: 340px;
	height: 40px;
	box-sizing: border-box;
	color: #666;
	margin: 25px auto 0;
	padding: 0 55px;
}

.tab-nav li {
	float: left;
	width: 105px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	box-sizing: border-box;
}

.tab-nav li.v-line{
	width: 1px;
	height: 14px;
	background-color: #f1f1f1;
	margin-top: 13px;
	margin: 13px 9px 0;
}

.tab-nav li.active {
	border-bottom: 2px solid #078eee;
	color: #078eee;
}


/*选项卡内容*/

.tab-content {
	width: 100%;
	margin-top: 26px;
}


/*注册成功*/
.popup-gift {
	display: none;
	width: 362px;
	height: 480px;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background-color: #fff;
	text-align: center;
	z-index: 999;
}
.popup-gift .p1{
	font-size: 22px;
	margin: 45px 0 20px 0;
}
.popup-gift .p2{
	font-size: 14px;
	color: #999;
	margin-bottom: 30px;
}

.reward-card{
	width: 280px;
	height: 113px;
	background: url(../img/reward_red.png) no-repeat;
	background-size: 100%;
	background-position: center;
	margin: 20px auto 0;
	box-sizing: border-box;
	padding-top: 36px;
}
.reward-card p{
	color: #fff;
	text-align: left;
	margin-left: 35px;
}

.popup-gift .popup-btn {
    display: block;
    width: 286px;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #2d98ef;
    margin-left: auto;
    margin-right: auto;
}


.popup-close{
	width: 50px;
	height: 50px;
	line-height: 50px;
	position: absolute;
	top: 510px;
	left: 0;
	right: 0;
	margin: 0 auto;
	cursor: pointer;
	/*background-color: rgba(255, 255, 255, 0.93);*/
	background-color: #eef1f6;
	border-radius: 50%;
}
.popup-close .iconfont{
	font-size: 22px;
	color: #cbced7;
}


/*找回密码*/
.pwd-step {
	width: 340px;
	margin: 0 auto 45px;
	text-align: center;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.pwd-step li {
	width: 33.3%;
	float: left;
	color: #b0b0b0;
}

.pwd-step li.active {
	color: #3299e1;
}

.pwd-step li.active.pass .iconfont:before {
	content: "\e60a";
}


/*重置密码成功 */

.suc-box {
	display: none;
	width: 580px;
	height: 320px;
	background-color: #fff;
	z-index: 999;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: 220px auto 0;
}

.suc-box .suc-top {
	height: 150px;
	background-color: #078eee;
	text-align: center;
	font-size: 28px;
	color: #fff;
	line-height: 150px;
	position: relative;
}

.suc-box .suc-top i {
	font-size: 36px;
	vertical-align: middle;
}

.suc-box .suc-top span {
	vertical-align: middle;
	margin-left: 16px;
}

.suc-box .suc-top .icon-quxiao {
	line-height: 0;
	font-size: 18px;
	position: absolute;
	right: 14px;
	top: 20px;
	color: #f9f9f9;
	cursor: pointer;
}

.suc-box .suc-b {
	display: block;
	width: 290px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: #078eee;
	color: #fff;
	margin: 60px auto 0;
	border-radius: 8px;
	font-size: 18px;
}

/*注册成功页面*/
.reg-result {
	width: 1200px;
	height: 620px;
	margin: 20px auto 0;
	background-color: #fff;
	padding-top: 65px;
}
.reg-result > .p1 {
	text-align: center;
}
.reg-result > .p1 .icon-zhengque {
	color: #3fabf7;
	font-size: 48px;
	vertical-align: middle;
}
.reg-result > .p1 span {
	font-size: 24px;
	vertical-align: middle;
	margin-left: 20px;
}
.reg-result > .p2 {
	color: #999;
	text-align: center;
	margin-top: 25px;
}
.reg-result > .p3 {
	width: 1000px;
	text-align: center;
	margin: 30px auto 0;
	border-bottom: 1px solid #f1f1f1;
}
.reg-result > .p3 a {
	display: inline-block;
	width: 340px;
	height: 50px;
	line-height: 50px;
	border-radius: 25px;
	color: #fff;
	font-size: 18px;
	background-color: #078eee;
	margin-bottom: 40px;
}
.reward-wrap {
	width: 1000px;
	height: 290px;
	background-color: #fff6e2;
	margin: 20px auto 0;
	padding-top: 30px;
}
.reward-wrap > p {
	text-align: center;
}
.reward-wrap > p > img {
	width: 30px;
}
.reward-wrap > p > span {
	font-size: 18px;
	vertical-align: middle;
	margin-left: 12px;
}
.reward-panel {
	width: 836px;
	height: 166px;
	margin: 30px auto 0;
	background: url(../img/reg_reward.png) no-repeat;
}
.reward-panel-1 {
	float: left;
	width: 110px;
	line-height: 166px;
	text-align: center;
	color: #fa5451;
	margin-left: 66px;
}
.reward-panel-1 span {
	font-size: 45px;
}
.reward-panel-2 {
	float: left;
	margin-left: 26px;
}
.reward-panel-2 > .p1 {
	margin-top: 60px;
}
.reward-panel-2 > .p2 {
	color: #999;
	font-size: 14px;
	margin-top: 13px;
}
.reward-panel-3 {
	float: right;
	width: 120px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	box-sizing: content-box;
	border-radius: 20px;
	margin-top: 63px;
	margin-right: 115px;
	border: 1px solid #078eee;
}

/*----------信息披露----------*/
.top-banner {
	height: 250px;
	position: relative;
	padding-top: 190px;
	box-sizing: border-box;
	background-color: #078eee;
	background-image: url(../img/about/bg-info-0.png);
	background-repeat: no-repeat;
	background-position: center;
}

.info-nav {
	width: 1200px;
	height: 60px;
	background-color: #fff;
	margin: 0 auto;
}

.info-nav > li {
	float: left;
	width: 130px;
	height: 60px;
	line-height: 60px;
	text-align: center;
}
.info-nav > li.active a{
	color: #078eee;
}
.info-nav > li:hover > a{
	color: #078eee;
}
.info-nav > li.other-switch:hover .other-box > a{
	color: #666;
}
.info-nav > li a{
	display: block;
}

.info-content {
	width: 1200px;
	min-height: 600px;
	background-color: #fff;
	margin: 8px auto 10px;
	padding: 50px 50px 60px;
	box-sizing: border-box;
	font-size: 14px;
	color: #666;
}

/*公用标题*/
.info-title {
	width: 1100px;
	height: 40px;
	margin-top: 60px;
	margin-bottom: 40px;
	position: relative;
	z-index: 0;
	text-align: center;
}
.info-title p {
	display: inline-block;
	/*height: 40px;*/
	line-height: 40px;
	padding: 0 40px;
	font-size: 16px;
	font-weight: bold;
	background-color: #fff;
}
.info-title:after {
	content: "";
	width: 1100px;
	height: 1px;
	background-color: #f1f1f1;
	position: absolute;
	left: 0;
	top: 20px;
	z-index: -1;
	
}

/*签名*/
.bottom-sign{
	text-align: right;
	margin-top: 60px;
}
.bottom-sign span{
	vertical-align: middle;
}

.part{
	display: none;
}
.part .info-title:first-child{
	margin-top: 0;
}

.part .center-pic{
	display: block;
	margin: 0 auto;
}

/*---1---*/
.part1{
	display: block;
}

.part1 .list-1 {
	float: left;
	line-height: 36px;
}

.part1 .list-2 {
	float: left;
	margin-left: 120px;
	padding-right: 70px;
	line-height: 36px;
	border-right: 1px solid #eee;
}

.part1 .license {
	float: left;
	width: 160px;
	margin-left: 50px;
}
.part1-table{
	width: 100%;
}
.part1-table td{
	height: 40px;
	text-align: center;
	border: 1px solid #f0f0f0;
}
.part1-table td:nth-of-type(2n + 1) {
	width: 160px;
	background-color: #f6f7f8;
}
.part1-table td:nth-of-type(2n) {
	width: 390px;
}

.part1 .p2 p {
	float: left;
	width: 820px;
	line-height: 25px;
	text-align: justify;
	text-justify: distribute-all-lines; /*兼容IE*/
}

.part1 .p2 img {
	float: left;
	margin-left: 90px;
	margin-top: 4px;
}
.info-member{
	margin-top: 30px;
}
.info-member dt{
	float: left;
}
.info-member dt img{
	width: 135px;
	height: auto;
}
.info-member dd{
	float: right;
	width: 930px;
}


.member-table{
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
}
.member-table tr th{
	font-weight: normal;
	color: #666;
	height: 45px;
	text-align: center;
	background-color: #f7f7f7;
	border: 1px solid #f1f1f1;
	
}
.member-table tr td{
	color: #666666;
	border: 1px solid #f1f1f1;
	height: 180px;
	padding-right: 0;
}

/*---3---*/
.horizontal-ul{
	width: 100%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.horizontal-ul li{
	float: left;
	width: 33.3%;
	text-align: center;
}
.horizontal-ul .iconfont{
	font-size: 48px;
	color: #078eee;
}
.center-ul li{
	line-height: 26px;
	font-size: 18px;
	color: #2b2b2b;
	box-sizing: border-box;
	border-right: 1px solid #f1f1f1;
}
.center-ul li:last-child{
	border: none;
}

.control-step{
	/*height: 170px;*/
	border-left: 1px solid #c8e8ff;
	position: relative;
	margin-left: 6px;
	margin-right: 6px;
	padding-top: 40px;
	padding-bottom: 40px;
}
.control-step-title{
	color: #078eee;
	position: absolute;
	left: -8px;
	top: -20px;
}
.control-step-title span{
	display: inline-block;
	background-color: #078eee;
	border-radius: 20px;
	width: 86px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	color: #fff;
	margin-right: 12px;
	margin-left: 18px;
}
.control-step-title .iconfont{
	font-size: 15px;
	color: #c8e8ff;
}

.control-step > p{
	margin-left: 116px;
	line-height: 48px;
}
.control-step > p .iconfont{
	font-size: 26px;
	color: #078eee;
	vertical-align: middle;
	margin-right: 12px;
}
.control-step > p span{
	color: #2b2b2b;
	vertical-align: middle;
}

.control-step.last{
	border: none;
}
.control-step.last ul{
	margin-left: 116px;
	margin-top: 0px;
}
.control-step.last ul li{
	float: left;
	width: 260px;
	text-align: center;
}
.control-step.last li .iconfont{
	font-size: 32px;
	color: #078eee;
}
.control-step.last .p1{
	color: #2b2b2b;
	margin-top: 16px;
}
.control-step.last .p2{
	margin-top: 16px;
}
.dashed{
	width: 150px !important;
	color: #078eee;
	margin-top: 46px;
}
.control-step.last li:last-child{
	width: 200px;
}

.bottom-ul{
	height: 55px;
	margin-top: 30px;
}
.bottom-ul li{
	height: 50px;
	box-sizing: border-box;
	border-right: 1px solid #f1f1f1;
}
.bottom-ul li:last-child{
	border: none;
}
.bottom-ul li .p1{
	font-size: 18px;
	color: #2b2b2b;
	line-height: 20px;
	margin-bottom: 8px;
}
.bottom-ul li .p2{
	font-size: 14px;
	color: #666;
}

/*---4---*/
.time-axis{
	border-top: 1px solid #f1f1f1;
}
.time-axis li{
	float: left;
	width: 94px;
	position: relative;
	cursor: pointer;
	margin-right: 40px;
}
.time-axis li span{
	display: inline-block;
	display: block;
	width: 100%;
	line-height: 32px;
	text-align: center;
	margin-top: 26px;
	border-radius: 6px;
	color: #999;
	position: relative;
}

.time-axis li.active span{
	background-color: #078eee;
	color: #fff;
}
.time-axis li.active span:after{
	content: "";
    border-style: solid;
    border-color: transparent transparent #078eee;
    border-width: 0 6px 6px;
    position: absolute;
    left: 40px;
    top: -6px;
    z-index: 9;
}
.time-axis li.active i{
	background-image: url(../img/about/dot-1.png);
}

.time-axis i{
	width: 14px;
	height: 14px;
	background-image: url(../img/about/dot-0.png);
	background-repeat: no-repeat;
	background-size: 14px;
	position: absolute;
	left: 40px;
	top: -7px;
}
.preview-list{
	display: none;
	margin-top: 50px;
}
.preview-list-1{
	display: block;
}
.preview-list li{
	float: left;
	width: 200px;
	height: 280px;
	border: 1px solid #f1f1f1;
	box-sizing: border-box;
	position: relative;
	margin-right: 80px;
	margin-bottom: 30px;
}
.preview-list li:nth-of-type(4n){
	margin-right: 0;
}
.preview-list li a{
	display: block;
	width: 180px;
	height: 260px;
	margin: 9px 0 0 9px;
	position: relative;
	overflow: hidden;
}
.preview-list li img{
	display: block;
	width: 100%;
	height: 100%;
	/*position: absolute;
	left: 10px;
	top: 10px;*/
}
.preview-list li img.back{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 99;
	top: 0;
	opacity: 0;
	transform: translateY(60px);
}

.animated{
	-webkit-animation-duration: 0.2s;
	animation-duration: 0.3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	animation-timing-function: ease;
	z-index: 100;
}

/*显示*/
@keyframes imgIn{
	0% {
		-webkit-transform: translateY(60px);
		-ms-transform: translateY(60px);
		transform: translateY(60px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
		opacity: 1;
	}
}

/*隐藏*/
@keyframes imgOut {
	0% {
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(60px);
		-ms-transform: translateY(60px);
		transform: translateY(60px);
	}
}

.imgIn {
	-webkit-animation-name: imgIn;
	animation-name: imgIn;
}
.imgOut {
	-webkit-animation-name: imgOut;
	animation-name: imgOut;
}


/*---5、6---*/
.part5 > p, .part6 > p{
	text-align: center;
	font-size: 14px;
	color: #999;
}

.part6 > img {
	display: block;
	margin: 40px auto;
}
.part6-1 {
	text-align: right;
	margin-right: 100px;
}
.part6-1 a{
	color: #078eee;
	font-size: 14px;
}


.part5-1{
	display: flex;
	justify-content: space-around;
}
.part5-1 img{
	width: 510px;
	/*flex: 1;*/
}

/*---7---*/
.part7{
	line-height: 40px;
}

/*---8---*/
.complete-table{
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	margin-top: 40px;
}
.complete-table tr th{
	height: 42px;
	font-weight: normal;
	color: #999;
	text-align: center;
	background-color: #f7f7f7;
	border: 1px solid #f1f1f1;
}
.complete-table tr td{
	height: 40px;
	color: #666666;
	border: 1px solid #f1f1f1;
}
.complete-table tr td:first-child{
	padding-left: 30px;
}
.complete-table tr td:last-child{
	text-align: center;
}

/*---其他相关---*/
.other-box{
	line-height: 59px;
	box-sizing: border-box;
	border-top: 1px solid transparent;
	position: relative;
	z-index: 9;
	background-color: #fff;
}
.other-list{
	display: none;
	line-height: 42px;
	padding-bottom: 10px;
}
.other-box.active{
	border: 1px solid #f0f0f0;
}

.other-list > li:hover a{
	color: #078eee;
}
.other-list > li.active a{
	color: #078eee;
}

/*内容*/
.other-part{
	display: none;
}
.other-part > img{
	display: block;
	margin: 0 auto;
}

.other-part2 ul li{
	line-height: 40px;
	background-color: #f6f8fb;
	margin-bottom: 10px;
	padding-left: 20px;
}
.other-part2 ul li a{
	display: block;
	color: #078eee;
}

.other-part3 p{
	text-indent: 2em;
	line-height: 28px;
	margin-top: 10px;
	text-align: justify;
	text-align-last: auto;
}
.other-part3 h6{
	font-size: 20px;
	text-align: center;
	margin-top: -20px;
	margin-bottom: 20px;
}


/*----------新手引导----------*/
.guide-banner{
	height: 300px;
	box-sizing: border-box;
	background-image: url(../img/guide_banner.png);
	background-repeat: no-repeat;
	background-position: center;
}
.guide-p1{
	width: 1200px;
	height: 1px;
	background-color: #dadde4;
	margin: 50px auto 25px;
	position: relative;
}
.guide-p1 span{
	width: 260px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #f5f5f5;
	font-size: 24px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.guide-list{
	width: 1200px;
	box-sizing: border-box;
	padding: 0 10px;
	margin: 40px auto 80px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.guide-list li{
	float: left;
	width: 280px;
	height: 430px;
	background-color: #fff;
	position: relative;
	text-align: center;
	box-sizing: border-box;
	border: 1px solid #f0f0f0;
	border-radius: 8px;
	transition: all 0.2s linear;
}
.guide-list li:hover{
	box-shadow: 0px 30px 36px -16px rgba(0, 0, 0, 0.1);
}
.guide-list li > span{
	width: 70px;
	height: 46px;
	line-height: 36px;
	text-align: center;
	box-sizing: border-box;
	padding-left: 3px;
	color: #fff;
	background-image: url(../img/guide_title.png);
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	left: -7px;
	top: 25px;
}
.guide-list img{
	margin-top: 55px;
}
.guide-list .p1{
	font-size: 24px;
	margin-top: 20px;
}
.guide-list .p2{
	color: #ff890f;
	margin-top: 20px;
}
.guide-list .p3{
	font-size: 14px;
	color: #999;
	margin-top: 10px;
}
.guide-list a{
	display: inline-block;
	width: 158px;
	height: 58px;
	line-height: 58px;
	color: #fff;
	font-size: 18px;
	background-color: #ff890f;
	border-radius: 10px;
	margin-top: 30px;
}
.guide-list a:hover{
	background-color: #ff901e;
}

.guide-tips{
	width: 100%;
	height: 260px;
	background-color: #fff;
}
.guide-tips > div{
	width: 1200px;
	margin: 0 auto;
	padding-top: 56px;
	box-sizing: border-box;
	padding-left: 20px;
}
.guide-tips h5{
	font-size: 22px;
	margin-bottom: 16px;
}
.guide-tips p{
	line-height: 32px;
	color: #666;
}


/*----------运营报告----------*/
.report-bg{
	width: 100%;
	height: 100%;
	background-color: #fff;
}
.report-wrap{
	width: 340px;
	height: 703px;
	background-image: url(../img/report_bg.png);
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.report-wrap h5{
	width: 314px;
	height: 54px;
	line-height: 54px;
	text-align: center;
	background-color: #f7f9ff;
	margin: 72px auto 0;
}
.report-wrap .swiper-container{
	width: 314px; 
	height: 504px;
}
.report-wrap .swiper-slide img{
	width: 100%; 
	height: 100%;
}
.report-wrap .swiper-slide .up{
	width: 38px; 
	height: auto; 
	position: absolute; 
	bottom: 15px; 
	left: 0; 
	right: 0; 
	margin: auto;
}
/*右侧*/
.report-right{
	width: 200px;
	height: 100%;
	min-height: 703px;
	position: absolute;
	right: 0;
	top: 0;
	border-left: 1px dashed #f0f0f0;
	text-align: center;
}
.report-right .link1{
	display: block;
	width: 122px;
	height: 44px;
	margin: auto;
	position: absolute;
	top: 10%;
	left: 0;
	right: 0;
}
.report-qr{
	width: 100%;
	position: absolute;
	bottom: 22%;
}
.report-qr img{
	width: 100px;
	height: 100px;
}
.report-qr p{
	font-size: 14px;
	color: #666;
}

.report-right .link2{
	width: 76px;
	color: #666;
	font-size: 18px;
	position: absolute;
	bottom: 14%;
	left: 0;
	right: 0;
	margin: auto;
}
/*
新增404样式*/
.can-t-find img{
		  display: block;
	    margin: 0 auto;
	    margin-top: 40px;
	}
	.can-t-find p{
	text-align: center;
	}
	.can-t-find p:nth-of-type(1){
    font-size: 22px;
    color: #191414;
	}
	.can-t-find p:nth-of-type(2){
    margin-top: 20px;
    font-size: 16px;
    color: #999999;
	}
	.can-t-find a{
		color: #078EEE;
    text-decoration: none;
    width: 150px;
    height: 52px;
    line-height: 52px;
    border: 1px solid #078EEE;
    border-radius: 30px;
    font-size: 16px;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 26px;
    cursor:pointer;
	}
	.invest-bg-wrap {
	    width: 100%;
  /* background: url(../img/invest-detail-bg.png) no-repeat #fafafa; */
  background-size: 100% auto;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 124px;
  }
	