@charset "utf-8";

/*TODO: 上线删除，使用本地iconfont*/
@import url("//at.alicdn.com/t/font_445501_ynb90yysete.css"); 

/**清除内外边距**/
body, p, h1, h2, h3, h4, h5, h6,  /*结构元素*/
ul, ol, li, dl, dt, dd,  /*列表元素*/
form, fieldset, legend, button, input, textarea,  /*表单元素*/
table, tr, th, td  /*表格元素*/{
	margin: 0;
	padding: 0;
}
body{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
	color: #2b2b2b;
	font-size: 3.8vw;
	background-color: #fff;
	position: relative;
}

*{
	margin: 0;
	padding: 0;
	outline: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

img{border: 0;}
li{list-style: none;}
a{text-decoration: none;color: #2b2b2b;}
input, button{outline: none;border-radius: 0;}
h1, h2, h3, h4, h5, h6{font-size: inherit;font-weight: normal;}
input, textarea, select, button{font-size: inherit;}

/*浮动*/
.fl{float:left;display:inline}
.fr{float:right;display:inline}

/* 清除浮动 */
.clearfix:after{
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

/*移动端字体*/
.fs-10{font-size:2.7vw}
.fs-12{font-size:3.2vw}
.fs-13{font-size:3.5vw}
.fs-14{font-size:3.7vw}
.fs-15{font-size:4.0vw}
.fs-16{font-size:4.3vw}
.fs-18{font-size:4.8vw}
.fs-20{font-size:5.3vw}
.fs-22{font-size:5.9vw}
.fs-24{font-size:6.4vw}
.fs-25{font-size:6.7vw}
.fs-26{font-size:6.9vw}
.fs-28{font-size:7.5vw}
.fs-30{font-size:8.0vw}
.fs-32{font-size:8.5vw}
.fs-35{font-size:9.3vw}
.fs-40{font-size:10.7vw}
.fs-45{font-size:12vw}
.fs-60{font-size:16vw}

.fw-b{font-weight:bold}
.fw-n{font-weight:normal}

/*---height---*/
.h10{height: 2.7vw}

/*---margin、padding---*/
.mt-3{margin-top: 0.8vw !important;}
.mt-5{margin-top: 1.3vw !important;}
.mt-7{margin-top: 1.8vw !important;}
.mt-10{margin-top: 2.7vw !important;}
.mt-11{margin-top: 2.9vw !important;}
.mt-12{margin-top: 3.2vw !important;}
.mt-13{margin-top: 3.5vw !important;}
.mt-15{margin-top: 4.0vw !important;}
.mt-20{margin-top: 5.3vw !important;}
.mt-25{margin-top: 6.7vw !important;}
.mt-28{margin-top: 7.5vw !important;}
.mt-30{margin-top: 8.0vw !important;}
.mt-35{margin-top: 9.3vw !important;}
.mt-40{margin-top: 10.7vw !important;}
.mt-60{margin-top: 16.0vw !important;}
.mt-80{margin-top: 21.3vw !important;}
.mt-100{margin-top: 26.7vw !important;}

.ml-5 {margin-left: 1.3vw}
.ml-15{margin-left: 4.0vw}
.ml-25{margin-left: 6.7vw}

.mr-5{margin-right: 1.3vw}
.mr-8{margin-right: 2.1vw}

.mb-10{margin-bottom: 2.7vw}
.mb-15{margin-bottom: 4.0vw}
.mb-20{margin-bottom: 5.3vw}
.mb-25{margin-bottom: 6.7vw}
.mb-30{margin-bottom: 8.0vw}

.pt-4{padding-top: 1.1vw !important;}
.pt-6{padding-top: 1.6vw !important;}
.pt-10{padding-top: 2.7vw !important;}
.pt-15{padding-top: 4.0vw !important;}
.pt-20{padding-top: 5.3vw !important;}
.pt-35{padding-top: 9.3vw !important;}
.pt-40{padding-top: 10.7vw !important;}
.pt-50{padding-top: 13.3vw !important;}
.pt-80{padding-top: 21.3vw !important;}

.pr-100{padding-right: 26.7vw;}

.pb-15{padding-bottom: 4.0vw;}

/*灰色背景*/
.bg-gray{background-color: #f5f7f9}
/*浅蓝背景*/
.bg-blue{background-color: #eff3f6}
/*白色背景*/
.bg-white{background-color: #fff}

/*主体红色字体*/
.c-main-red{color: #ff5b52 !important;}
/*主体蓝色字体*/
.c-main-blue{color: #078eee !important;}
/*主体黑色字体*/
.c-main-black{color: #2b2b2b !important;}

/*蒙版 */
.mask{
	display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

/*不可点击蒙版*/
.not-click-mask{
	display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 9999;
}

/*矢量图标*/
.iconfont{
	font-size: 4.2vw;
}

/*多色矢量图标*/
.icon{
   width: 1em; 
   height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}

/* 规定文本块中首行文本的缩进 */
.t2{text-indent:2em}

/* 自动滚动条 */
.oa{overflow:auto}
.oh{overflow:hidden}

/* 内容对齐 */
.ta-l{text-align:left}
.ta-c{text-align:center}
.ta-r{text-align:right}

/* 行高 */
.lh100{line-height:100%}
.lh120{line-height:120%}
.lh150{line-height:150%}
.lh180{line-height:180%}
.lh200{line-height:200%}

.h100{height: 100%}

/* 设置元素的垂直对齐方式 */
.va-t{vertical-align:text-top}
.va-m{vertical-align:middle}
.va-b{vertical-align:text-bottom}

/*绝对定位*/
.pr{position:relative}
/*相对定位*/
.pa{position:absolute}
/*绝对定位并右对齐*/
.abs-right{position:absolute;right:0}
.abs-left{position:absolute;left:0}

/*-----------常用字体颜色------------*/
.c-white{color:#ffffff}
.c-black{color:#000000}
.c-yellow{color:#ffff00}
.c-red{color:#ff0000}
.c-grey{color:#808080}
.c-blue{color:#0000ff}
.c-green{color:#00ff00}
.c-444{color:#444}
.c-555{color:#555}
.c-666{color:#666 !important;}
.c-777{color:#777}
.c-888{color:#888}
.c-999{color:#999}

/*---元素显示、隐藏 ---*/
.show{display:block !important;}
.hide{display:none !important;}

/*---元素可见、不可见---*/
.vs-show{visibility: visible}
.vs-hide{visibility: hidden}

/*---底部文字对齐---*/
.vt-bottom{
    display: table-cell;
    vertical-align: bottom;
}

/*---文字两端对齐---*/
.both-smooth{
	text-align: justify;
	text-justify:distribute-all-lines;
	text-align-last: left;
}

/*---单行文字超出隐藏---*/
.text-over{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


/*iscroll样式*/
.iscroll-box{
	width: 100%;
	touch-action: none;
	position: absolute;
	top: 13.3vw;
	bottom: 0;
}

/*iscroll自动生成的代码样式*/
#pullUp {
	text-align: center;
	height: 10.7vw;
	line-height: 10.7vw;
	font-size: 3.2vw;
	color: #888;
}
.pullUpLabel img {
	margin-top: 25vw;
	width: 30vw;
	height: auto;
	vertical-align: middle;
}
.pullUpLabel span {
	vertical-align: middle;
}

/*iscroll无数据样式*/
#scroller{
	min-height: 100%;
}

/*加载动画*/
.loading{
	width: 20vw;
	height: 20vw;
	text-align: center;
	border-radius: 2.4vw;
	background: rgba(0, 0, 0, 0.65);
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
}
.loading img{
	width: 11vw;
	margin-top: 4.5vw;
	animation: animLoading 1.8s linear infinite;
}

@keyframes animLoading{
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  }
}

/*统一按钮*/
.btn{
	display: block;
	width: 92vw;
	height: 11.7vw;
	line-height: 11.7vw;
	text-align: center;
	color: #fff;
	font-size: 4.5vw;
	border-radius: 5.85vw;
	background-image: linear-gradient(to right, #3fabf7, #078eee);
	margin-left: 4vw;
}

/*底部按钮容器*/
.btn-bottom-panel{
	position: absolute;
	left: 0;
	bottom: 0;
}
/*底部提示*/
.btn-bottom-panel p{
	line-height: 13.3vw;
	color: #999;
	font-size: 3.2vw;
	margin-top: 2vw;
}

/*弹框：协议容器*/
.agr-box{
	display: none;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #fff;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999;
}
.agr-box::-webkit-scrollbar{
	display: none;
}
.agr-iframe{
	width: 100%;
	height: 100%;
	border: none;
	
}
.agr-close{
	width: 100%;
	height: 12.5vw;
    line-height: 12.5vw;
    text-align: center;
    color: #fff;
    font-size: 4.2vw;
    background-color: #078eee;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
}

/*协议*/
.agr-view{
	color: #666; 
	font-size: 3.8vw; 
	background-color: #fff; 
	line-height: 8vw;
}
.agr-view .agr-title{ 
	line-height: 15vw; 
	text-align: center; 
	font-size: 5vw; 
	font-weight: normal; 
	border-bottom: 1px solid #e1e1e1; 
}
.agr-wrap{
	padding: 3vw 4vw 26vw;
}
.agr-wrap p{
	text-align: justify;
	text-align-last: auto;
	text-indent: 2em;
}
.agr-wrap h2{ 
	font-weight: bold; 
	font-size: 4vw; 
	margin: 2vw 0;
}
.agr-wrap table{
	width: 100%;
	text-align: center;
	border-collapse:collapse;
	margin: 4vw 0;
}
.agr-wrap table td{
	border: 1px solid #999;
}

.agr-wrap .num{
	text-align: right;
	margin-right: 10vw;
}

.agr-wrap .care{
	text-align: center;
	font-weight: bold;
	margin-top: 4vw;
}

/*公用底部导航*/
.footer-nav{
	width: 100%;
	height: 14.5vw;
	position: fixed;
	left: 0;
	bottom: 0;
	background-color: #fff;
	border-top: 1px solid #e1e1e1;
	z-index: 2;
	
	display: flex;
}
.footer-nav a{
	float: left;
	display: block;
	width: 25vw;
	height: 100%;
	text-align: center;
	font-size: 2.9vw;
	color: #999;
	
	flex: 1;
	
}
.footer-nav a .iconfont{
	display: inline-block;
	margin: 1.6vw 0 0.2vw;
	font-size: 6.6vw;
	color: #b4c0ca;
}
.footer-nav a.active{
	color: #078eee;
}
.footer-nav a.active .iconfont{
	color: #078eee;
}

/*弹框：短信验证码*/
.pop-box {
	display: none;
	width: 88vw;
	background-color: #fff;
	border-radius: 1.6vw;
	position: absolute;
	top: 46vw;
	left: 6vw;
	z-index: 999;
}
.pop-box h6 {
	font-size: 3.5vw;
	color: #666;
	text-align: center;
	margin-top: 6.7vw;
}
.pop-box .pop-row{
	width: 74vw;
	height: 14.7vw;
	margin: 6vw auto 9.3vw;
	border-bottom: 1px solid #e1e1e1;
	position: relative;
}
.pop-box .pop-row input{
	width: 100%;
	height: 100%;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	padding-left: 3vw;
	font-size: 5vw;
}
.pop-box .pop-row button{
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	padding: 0 3vw;
	color: #078eee;
}
.pop-box .btn{
	width: 74vw;
	margin-left: 7vw;
}
.pop-box .close-btn{
	width: 12vw;
	height: 12vw;
	line-height: 12vw;
	text-align: center;
	box-sizing: content-box;
	border: 1px solid #eff3fc;
	border-radius: 50%;
	background-color: transparent;
	position: absolute;
	left: 0;
	right: 0;
	margin: 6vw auto 0;
}
.pop-box .close-btn .iconfont{
	color: #eef2fb;
	font-size: 5.3vw;
}

.pop-box input::-webkit-input-placeholder {
	font-size: 3.5vw;
}

.pop-box input::-moz-placeholder {
	font-size: 3.5vw;
}

.pop-box input:-ms-input-placeholder {
	font-size: 3.5vw;
}

/*覆盖 mui 样式*/
.mui-toast-container {
	top: 40%;
}
