@charset "UTF-8";

/*** 进度条 ***/
.ky-progress {
    display: inline-block;
    vertical-align: middle;
    width: 140px !important;
    height: 12px;
    border-radius: 6px;
    background-color: #f1f1f1;
    overflow: hidden;
    text-align: left;
    margin-right: 9px;
}

.ky-progress .ky-progress-bar {
    display: inline-block;
    height: 100%;
	background: linear-gradient(to right, #078eee, #078eee);
    float: left;
}

.ky-detail-progress {
    display: inline-block;
    vertical-align: middle;
    width: 120px !important;
    border-radius: 6px;
    background-color: #f1f1f1;
    overflow: hidden;
    text-align: left;
    margin-right: 9px;
}

.ky-detail-progress .ky-progress-bar {
    display: inline-block;
    height: 100%;
    text-align: center;
    float: left;
}

/**********投资、转让列表页********/
.invest-transfer-nav {
    width: 1200px;
    background-color: #fff;
    margin: 10px auto 0;
    box-sizing: border-box;
    padding-left: 24px;
    line-height: 66px;
    border-bottom: 1px solid #f1f1f1;
}

.invest-transfer-nav a {
    margin-right: 40px;
    font-size: 18px;
    display: inline-block;
    line-height: 67px;
    width: 65px;
    text-align: center;
}

.invest-transfer-nav a.active {
    border-bottom: 2px solid #078eee;
    color: #2b2b2b;
}

/*二级筛选*/
.filter-box {
    width: 1200px;
    background-color: #fff;
    margin: 0 auto;
    box-sizing: border-box;
    /*border-bottom: 1px solid #f1f1f1;*/
    padding: 16px 0 16px 24px;
}

.filter-row {
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #2a2b2b;
}

.filter-up-down {
    float: left;
    font-size: 16px;
    height: 20px;
    line-height: 20px;
    margin-top: 15px;
    margin-left: 30px;
    padding-left: 50px;
    border-left: 1px solid #b1b1b1;
}

.filter-row > span {
    margin-right: 8px;
}

.filter-row > a {
    margin-right: 30px;
    color: #666;
    font-size: 14px;
}

.invest-filter a {
    margin-right: 39px;
    color: #666;
}

.filter-row a.active {
    color: #078eee;
}

/*小三角*/
.triangle-arrow-up,
.triangle-arrow-down {
    position: relative;
}

/*向上小三角*/
.triangle-arrow-up::before {
    content: "";
    border-style: solid;
    border-color: transparent transparent #999;
    border-width: 0 5px 4px;
    position: absolute;
    right: -20px;
    top: 5px;
}

/*向下小三角*/
.triangle-arrow-down::after {
    content: "";
    border-style: solid;
    border-color: #999 transparent transparent;
    border-width: 4px 5px 0;
    position: absolute;
    right: -20px;
    top: 12px;
}

.is-status-desc-true,
.is-status-desc-false {
    color: #078eee;
}

/*降序*/
.is-status-desc-false.triangle-arrow-up::before {
    border-color: transparent transparent #078eee;
}

/*升序*/
.is-status-desc-true.triangle-arrow-down::after {
    border-color: #078eee transparent transparent;
}

/*投资、转让列表box*/
.list-box {
    width: 1200px;
    min-height: 300px;
    background-color: #fff;
    margin: 0 auto 36px;
}

.list-box .icon-denglumima {
    color: #bebebe;
    font-size: 18px;
    position: absolute;
    left: 20px;
    top: 16px;
}

.list-box > ul {
    height: 140px;
    font-size: 18px;
    cursor: pointer;
    /*border-bottom: 1px solid #f1f1f1;*/
    border-top: 1px solid #f1f1f1;
    box-sizing: border-box;
    text-align: left;
}
.list-box > ul:last-child{
	border-bottom: 1px solid #f1f1f1;
}


.list-box > ul:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.list-box > ul li {
    float: left;
    box-sizing: border-box;
    position: relative;
}

.li-top {
    height: 25px;
    /*display: table-cell;
    vertical-align: bottom;*/
   margin-top: 45px;
}

.li-bottom {
    margin-top: 6px;
    font-size: 14px;
    color: #999;
}

.coupon-tag {
    color: #078eee;
    margin-top: 10px;
}

.coupon-tag span {
    border: 1px solid #078eee;
    border-radius: 4px;
    padding: 0.6px 6px;
    margin-right: 5px;
}

.list-btn {
    display: inline-block;
    width: 152px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 25px;
    margin-top: 45px;
    color: #fff;
    font-size: 16px;
    background-color: #078eee;
}

/*特效*/
.list-box > ul:hover {
    -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1); /*firefox*/
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1); /*webkit*/
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1); /*opera或ie9*/
    /*margin-top: -1px;*/
   border-color: transparent;
    z-index: 9;
    transition: all 0.2s linear;
}

.list-box > ul:hover .li-top {
    font-weight: bold;
}

.list-box > ul:hover .list-btn {
    font-weight: bold;
}

.list-box > ul:hover .list-btn.not {
    background-color: #eee;
    color: #999;
}

/*正常*/
.list-btn.on {

}

/*已抢光*/
.list-btn.out {
    background-color: #a5d4f6;
    color: #fff;
}

/*已结束*/
.list-btn.end {
    background-color: #eee;
    color: #999;
}

/*开始计时*/
.time-row {
    color: #999;
    font-size: 12px;
    margin-top: 8px;
    margin-left: 4px;
}

/*********** 投资列表 ***********/
.invest-list-box .li-1 {
    width: 260px;
    padding-left: 20px;
    padding-right: 20px;
}
.invest-list-box .li-1 .li-top {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.invest-list-box .li-2 {
    width: 230px;
}

.invest-list-box .li-3 {
    width: 200px;
}

.invest-list-box .li-4 {
    width: 290px;
}

.invest-list-box .li-5 {
    width: 220px;
    color: #fff;
}

/*********** 转让列表 ***********/
.transfer-list-box {
    display: none;
}

.transfer-list-box .li-1 {
    width: 250px;
    padding-left: 20px;
}

.transfer-list-box .li-2 {
    width: 190px;
}

.transfer-list-box .li-3 {
    width: 180px;
}

.transfer-list-box .li-4 {
    width: 200px;
}

.transfer-list-box .li-5 {
    width: 180px;
}

.transfer-list-box .li-6 {
    width: 200px;
}

/********************投资详情页*******************/
.invest-bg-wrap {
    width: 100%;
    background: url(../img/invest-detail-bg.png) no-repeat #fafafa;
    background-size: 100% auto;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 21px;
}

/*** 详情上部分 ***/
.detail-top {
    width: 1200px;
    height: 400px;
    margin: 0 auto;
    background-color: #fff;
}

/* 上部分左边 */
.detail-top-left {
    width: 760px;
    height: 100%;
    float: left;
}

.project-title {
	height: 90px;
    border-bottom: 1px solid #eaeaea;
    position: relative;
}

.project-title h3 {
    display: inline-block;
    line-height: 90px;
    margin-left: 50px;
    font-size: 24px;
}

.project-title .timer {
    font-size: 14px;
    position: absolute;
    left: 430px;
    top: 30px;
}

.project-data {
    border-bottom: 1px solid #eaeaea;
}

.project-data li {
    width: 230px;
    height: 180px;
    float: left;
    text-align: center;
}

.project-data li .p1 {
    height: 70px;
    line-height: 70px;
    margin-top: 30px;
    font-size: 32px;
}

.project-data li .p2 {
    color: #666;
    font-size: 14px;
}

.project-else {
    margin-top: 24px;
}

.project-else li {
    float: left;
    margin-left: 50px;
    font-size: 14px;
    color: #666;
    line-height: 36px;
}
.project-else li:last-child{
	margin-left: 100px;
}

/* 上部分右边 */
.detail-top-right {
    width: 440px;
    height: 100%;
    float: right;
    box-shadow: -7px 0px 26px -6px #e1ebf2;
    box-sizing: border-box;
    padding-top: 55px;
}

.common-row {
    width: 300px;
    margin: 0 auto;
}

.canUsed button,
.canUseMoney button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.row-1,
.row-2 {
    font-size: 14px;
    line-height: 28px;
}

.row-3 {
    position: relative;
    margin-top: 30px;
}

.row-3 .invest-input {
    display: block;
    width: 300px;
    height: 44px;
    box-sizing: border-box;
    border: none;
    border: 1px solid #999;
    border-radius: 5px;
    padding-left: 10px;
}

.row-3 .invest-total-btn {
    display: inline-block;
    width: 60px;
    height: 44px;
    line-height: 44px;
    color: #078eee;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    cursor: pointer;
}

.row-4 {
    font-size: 14px;
    padding: 3px 0 0 10px;
}

.row-5 {
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 25px;
    background-color: #078eee;
    color: #fff;
    margin-top: 26px;
    margin-bottom: 10px;
    font-size: 18px;
    transition: all 0.1s linear;
}
.row-5:hover {
	box-shadow: 0px 6px 16px rgba(60, 151, 226, 0.3);
}

.row-6 {
    font-size: 12px;
    padding-left: 12px;
    margin-top: 12px;
    line-height: 24px;
    text-align: justify;
}

.row-6 .ky-xy {
    cursor: pointer;
}

.row-6 .ky-xy input {
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

/*标的状态*/
.circle-box {
    width: 140px;
    height: 123px;
    line-height: 160px;
    text-align: center;
    /*background: url(../img/radio-0.png) no-repeat;*/
   
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0 auto;
}

.status-tips{
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 14px;
	color: #999;
}
/*已售光*/
.circle-box.status-sold-out{
	background-image: url(../img/status_sold_out.png);
}
/*已结束*/
.circle-box.status-finished{
	background-image: url(../img/status_finished.png);
}

/*即将开始*/
.circle-box.status-not-started{
	background-image: url(../img/status_not_started.png);
}


.circle-box span {
    color: #999;
    font-size: 20px;
    font-weight: bold;
}



/*** 详情下部分 ***/
.detail-bottom {
    width: 1200px;
    background-color: #fff;
    margin: 13px auto 0;
    padding: 0 30px;
    box-sizing: border-box;
}

.detail-bottom .layui-table tbody tr:hover {
    background-color: #ffffff !important;
}
.project-info tr td:nth-of-type(2n+1){
	background-color: #f6f7f8;
}

#safeguard, #pointDanger{
	line-height: 40px;
	text-align: justify;
}


/*自定义滚动条*/
.project-info-item::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.project-info-item::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.project-info-item::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

.project-info-nav {
    height: 70px;
    box-sizing: border-box;
    border-bottom: 1px solid #ebebeb;
    display: flex;
}

.project-info-nav li {
	flex: 1;
    height: 70px;
    line-height: 70px;
    box-sizing: border-box;
    color: #666;
    cursor: pointer;
    float: left;
    margin: 0 42px;
    text-align: center;
    position: relative;
}

.project-info-nav li span{
	display: none;
	width: 40px;
	height: 2px;
	background-color: #078eee;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.project-info-nav li.active{
	color: #2b2b2b;
}
.project-info-nav li.active span {
	display: block;
}

.project-info-item {
    display: none;
    box-sizing: border-box;
    padding-bottom: 120px;
    padding-top: 20px;
    overflow-y: auto;
}

.project-info-item.active {
    display: block;
}

.project-info-item h5 {
    font-weight: bold;
    margin: 35px 0 25px 0;
}

.project-info-item dl {
    line-height: 40px;
}

.project-info-item dl dt {
    float: left;
    width: 380px;
}

.project-info-item dl dd {
    float: left;
    width: 320px;
}

.project-info-item .t-tips {
    clear: both;
    color: #999;
    padding-top: 40px;
}

.project-info-item-1-bottom {
    width: 380px;
    line-height: 40px;
    float: left;
}

.loan-detail-list-icon {
    height: 120px;
    box-sizing: border-box;
    border-bottom: 1px solid #ebebeb;
}

.loan-detail-list-icon p {
    line-height: 15px;
    font-size: 14px;
}

.loan-detail-list-icon li {
    width: 240px;
    height: 120px;
    line-height: 70px;
    box-sizing: border-box;
    color: #2b2b2b;
    cursor: pointer;
    float: left;
    /*margin: 0 5px;*/
    text-align: center;
}

.loan-detail-list-icon li i {
    font-size: 60px;
    color: #999;
}

.loan-detail-list-icon li .active {
    color: #078eee;
}

/*2、4*/
.layui-table th {
    text-align: center;
}

.layui-table {
    margin-top: 0;
    text-align: center;
    color: #666;
}

/*3*/
.file-list {
}

.file-list li {
    text-align: center;
    float: left;
    margin-left: 50px;
    margin-top: 25px;
}

.file-list li img {
    width: 180px;
    height: 240px;
}

.file-list li p {
    margin-top: 10px;
}

.project-info-login-btn {
    border: 2px solid #078eee;
    background-color: transparent;
    padding: 10px 36px;
    color: #078eee;
    border-radius: 8px;
    font-size: 20px;
    margin: 50px 0 0 100px;
}

/**********转让详情页********/

/*** 详情上部分 ***/
.transfer-detail-top {
    width: 1200px;
    height: 400px;
    margin: 0 auto;
    background-color: #fff;
}

/* 上部分左边 */
.transfer-detail-top-left {
    width: 760px;
    height: 100%;
    float: left;
}

.transfer-project-title {
    border-bottom: 1px solid #eaeaea;
}

.transfer-project-title h3 {
    display: inline-block;
    line-height: 90px;
    margin-left: 50px;
    font-size: 24px;
}

.transfer-project-data {
    border-bottom: 1px solid #eaeaea;
}

.transfer-project-data li {
    width: 30%;
    height: 180px;
    float: left;
    text-align: center;
}

.transfer-project-data li .p1 {
    height: 80px;
    line-height: 80px;
    margin-top: 30px;
    font-size: 26px;
}

.transfer-project-data li .p2 {
    color: #666;
    font-size: 14px;
}

.transfer-project-else {
    margin-top: 24px;
}

.transfer-project-else li {
    float: left;
    margin-left: 50px;
    font-size: 14px;
    color: #666;
    line-height: 36px;
}
.transfer-project-else li:last-child{
	margin-left: 100px;
}

/* 上部分右边 */
.transfer-detail-top-right {
    width: 440px;
    height: 100%;
    float: right;
    box-shadow: -7px 0px 26px -6px #e1ebf2;
    box-sizing: border-box;
    padding-top: 40px;
}

.transfer-common-row {
    width: 300px;
    margin: 0 auto;
}

.trow-1 {
    font-size: 18px;
    line-height: 28px;
    margin-top: 36px;
    margin-bottom: 20px;
}

.trow-2 {
    font-size: 14px;
    line-height: 28px;
}

.trow-3 {
    display: block;
    height: 50px;
    line-height: 50px;
    background-color: #078eee;
    color: #fff;
    border-radius: 6px;
    text-align: center;
    margin-top: 36px;
    margin-bottom: 10px;
    font-size: 18px;
    transition:  all 0.1s linear;
}
.trow-3:hover {
	box-shadow: 0px 6px 16px rgba(60, 151, 226, 0.3);
}

.trow-4 {
    font-size: 14px;
    padding-left: 12px;
    margin-top: 22px;
}

.trow-4 .ky-xy {
    cursor: pointer;
}

.trow-4 .ky-xy input {
    width: 15px;
    height: 15px;
    vertical-align: middle;
}

/*** 转让详情下部分 ***/
.transfer-project-info-item {
    margin-top: 20px;
    margin-left: 30px;
    line-height: 60px;
}

/****各种弹框****/

/*投资成功弹框*/
.suc-box {
    display: none;
    width: 580px;
    height: 320px;
    background-color: #fff;
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 220px auto 0;
}

.suc-box .suc-top {
    height: 150px;
    background-color: #078eee;
    text-align: center;
    font-size: 28px;
    color: #fff;
    line-height: 150px;
    position: relative;
}

.suc-box .suc-top i {
    font-size: 36px;
    vertical-align: middle;
}

.suc-box .suc-top span {
    vertical-align: middle;
    margin-left: 16px;
}

.suc-box .suc-top .icon-quxiao {
    line-height: 0;
    font-size: 18px;
    position: absolute;
    right: 14px;
    top: 20px;
    color: #f9f9f9;
    cursor: pointer;
}

.suc-box .suc-b {
    display: block;
    width: 290px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #ff5b52;
    color: #fff;
    margin: 60px auto 0;
    border-radius: 8px;
    font-size: 18px;
}

/*.direct-box .direct-b {
    display: block;
    width: 290px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #ff5b52;
    color: #fff;
    margin: 20px auto 0;
    border-radius: 8px;
    font-size: 18px;
}
.direct-box  .direct-top {
    height: 180px;
    !*background-color: #078eee;*!
    text-align: center;
    font-size: 28px;
    color: #fff;
    line-height: 150px;
    position: relative;
}
.direct-box  .direct-top .icon-quxiao {
    line-height: 0;
    font-size: 18px;
    position: absolute;
    right: 14px;
    top: 20px;
    color: #bebebe;
    cursor: pointer;
}
.direct-box  .direct-top span {
    vertical-align: middle;
    margin-left: 16px;
    color:grey;
}*/
.suc-box .suc-bottom {
    margin-top: 15px;
    font-size: 14px;
    color: #999;
    text-align: center;
}

/** 定向投资密码框弹出层 **/
.direct-box {
    display: none;
    width: 510px;
    height: 270px;
    background-color: #fff;
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0px;
    right: 0;
    bottom: 0;
    margin: 250px auto 0;
    text-align: center;
    padding-top: 40px;
}

.direct-box h3 {
    font-size: 26px;
}

.direct-box input {
    width: 300px;
    height: 44px;
    box-sizing: border-box;
    margin-top: 40px;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding-left: 20px;
}

.confirm-btn {
    display: block;
    width: 300px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #3299e1;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    margin: 35px auto 0 auto;
    cursor: pointer;
}

.direct-box .icon-quxiao {
    font-size: 18px;
    position: absolute;
    right: 16px;
    top: 10px;
    color: #666;
    cursor: pointer;
}

/*投资确认弹框*/
.pop-invest {
    display: none;
    width: 510px;
    height: 650px;
    background-color: #fff;
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0px;
    right: 0;
    bottom: 0;
    margin: auto;
}

.pop-invest .suc-close {
    font-size: 18px;
    position: absolute;
    right: 26px;
    top: 16px;
    color: #666;
    cursor: pointer;
}

.pop-invest .p-tit {
    text-align: center;
    font-size: 18px;
    margin-top: 76px;
    margin-bottom: 40px;
}

.pop-invest .p-row {
    display: block;
    width: 340px;
    box-sizing: border-box;
    margin: 20px auto 0;
}

.pop-invest .pri {
    /* 验证码 */
    position: relative;
}

.pop-invest .pri .pri-1 {
    width: 340px;
    height: 48px;
    line-height: 48px;
    border: none;
    border: 1px solid #999;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 0 82px 0 12px;
}

.pop-invest .pri .pri-2 {
    position: absolute;
    right: 22px;
    top: 0;
    display: inline-block;
    line-height: 48px;
}

.pop-invest .pri-3 {
    width: 340px;
    margin: 10px auto 0;
    font-size: 14px;
    color: red;
}

.pop-invest .p-tel {
    font-size: 14px;
    color: #777;
    margin-top: 14px;
}

/* 确认投资 */
.pop-invest .pr-btn {
    width: 340px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 25px;
    background-color: #078eee;
    color: #fff;
}

/*投资登录弹框*/
.pop-login {
    display: none;
    width: 510px;
    height: 650px;
    background-color: #fff;
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0px;
    right: 0;
    bottom: 0;
    margin: auto;
}

.pop-login .suc-close {
    font-size: 18px;
    position: absolute;
    right: 26px;
    top: 16px;
    color: #666;
    cursor: pointer;
}

.pop-login h3 {
    margin-top: 75px;
    font-size: 22px;
    text-align: center;
    color: #2b2b2b;
}

.pop-login .p-row {
    display: block;
    width: 340px;
    margin: 0 auto;
    box-sizing: border-box;
}

.p-row button {
    background: none;
    border: none;
}

.pop-login .tip-1 {
    margin-top: 78px;
    font-size: 14px;
    color: red;
}

.pop-login .tip-2 {
    margin-top: 12px;
    font-size: 14px;
    color: red;
}

.pop-login .p-i {
    height: 48px;
    border: none;
    border: 1px solid #999;
    border-radius: 8px;
    margin-top: 4px;
    padding-left: 20px;
}

.pop-login .login-btn {
    border: none;
    width: 340px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #3299e1;
    border-radius: 8px;
    color: #fff;
    font-size: 18px;
    /*margin-top: 64px;*/
}

.pop-login h3 {
    margin-bottom: 64px;
}

.form-error-msg {
    margin: 0 85px;
    color: red;
}

.pop-login .pr-c {
    text-align: center;
    margin-top: 39px;
    font-size: 14px;
}

.pop-login .pr-c a {
    color: #078eee;
}

.pop-login .pr-c:last-child {
    margin-top: 25px;
    color: #078eee;
}

/*---充值弹框---*/
.pop-recharge {
    display: none;
    width: 570px;
    height: 650px;
    background-color: #fff;
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.pop-recharge .suc-close {
    font-size: 18px;
    position: absolute;
    right: 26px;
    top: 16px;
    color: #666;
    cursor: pointer;
}

.pop-recharge h3 {
    margin: 75px 0;
    font-size: 22px;
    text-align: center;
    color: #2b2b2b;
}

.recharge-row {
    margin-bottom: 20px;
}

.recharge-row > label {
    width: 200px;
    line-height: 44px;
    text-align: right;
    float: left;
}

.recharge-row > input {
    width: 286px;
    height: 44px;
    box-sizing: border-box;
    border: 1px solid #bbb;
    border-radius: 6px;
    padding-left: 14px;
    color: #000;
}

/*银行卡*/
.bank-card-box {
    display: inline-block;
    width: 286px;
    height: 44px;
    /*line-height: 44px;*/
    box-sizing: border-box;
    border: 1px solid #bbb;
    border-radius: 6px;
    padding-left: 14px;
    color: #000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentcolor;
    overflow: hidden;
}

.bank-card-box svg {
    display: inline-block;
    font-size: 30px;
    height: 42px;
    line-height: 42px;
    vertical-align: middle;
}

.bank-card-box span {
    display: inline-block;
    height: 42px;
    line-height: 42px;
    vertical-align: middle;
}

/*选择卡券*/
.coupon-row {
    width: 340px;
    height: 48px;
    border-radius: 8px;
    box-sizing: border-box;
    margin: 20px auto 0;
    position: relative;
}

.coupon-input {
    border: 1px solid #999;
    border-radius: 8px;
    width: 340px;
    height: 48px;
    box-sizing: border-box;
    line-height: 48px;
    position: absolute;
    left: 0px;
    top: -1px;
    z-index: 2;
    cursor: pointer;
    background-color: #fff;
    padding: 0 14px 0 12px;
}

.coupon-input .no-use {
    color: #999;
}

.coupon-input .selected-coupon {
    color: #ff5b52;
}

.coupon-input .iconfont {
    float: right;
    color: #078eee;
    font-size: 19px;
    margin-left: 3px;
    transition: all 0.2s;
}

.coupon-input .select-btn {
    color: #078eee;
    float: right;
}

.coupon-input .iconfont.active {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.coupon-input.active {
    border-bottom-color: transparent;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/*卡券列表*/
.coupon-box {
    display: none;
    background-color: #fff;
    width: 340px;
    max-height: 350px;
    padding-bottom: 20px;
    overflow-y: auto;
    position: absolute;
    left: 0px;
    top: 24px;
    padding-top: 24px;
    border: 1px solid #999;
    border-radius: 8px;
    box-sizing: border-box;
    z-index: 1;
}

.coupon-box > p {
    padding-left: 24px;
    font-size: 14px;
    color: #666;
    line-height: 32px;
}

.coupon-box li {
    height: 42px;
    line-height: 42px;
    position: relative;
    padding-left: 24px;
}

.coupon-box label {
    width: 140px;
    cursor: pointer;
}

/*单选框样式*/
.coupon-box input[type="radio"] {
    display: inline-block;
    position: absolute;
    top: 11px;
    left: 20px;
    width: 24px;
    height: 24px;
    border: 0;
    outline: 0 !important;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

.coupon-box input[type="radio"]:before {
    content: "\e620";
    font-size: 20px;
    /*font-family: Muiicons;*/
    font-family: "iconfont";
    font-weight: normal;
    line-height: 1;
    text-decoration: none;
    color: #aaa;
    border-radius: 0;
    background: none;
    -webkit-font-smoothing: antialiased;
}

.coupon-box input[type="radio"]:checked:before {
    content: "\e60a";
    color: #ff5b52;
}

.coupon-txt {
    /*border: 1px solid #ff5b52;*/
    color: #ff5b52;
    font-size: 18px;
    line-height: 1;
    padding: 6px 6px;
    border-radius: 3px;
    margin-left: 30px;
}

.coupon-data {
    font-size: 12px;
    color: #999;
    margin-left: 10px;
}

.not-flow {
    overflow: hidden;
    height: 100%;
}

.timer-task span {
    /*color: #078eee !important;*/
}
