<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no,email=no,address=no"/>
    <link rel="shortcut icon" href="../../img/favicon.ico"/>
    <title>个人中心 - 车聚宝</title>

    <script src="../../js/ismobile.js"></script>
    <link rel="stylesheet" type="text/css" href="../../plugins/layui/css/layui.css?v=2.4.5" media="all"/>
    <link rel="stylesheet" type="text/css" href="../../iconfont/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/base.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/common.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/user.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/publicStyle.css"/>
    
</head>
<body>

<!------公用头部------>
<header id="header"></header>

<!--账户headBar-->
<div class="account-head">
    <div class="account-head-wrap">
        <div class="user-part-left">
            <div class="avatar"></div>
            <div class="ident">
                <div class="ident-label">
                	<span>您好，</span>
                    <span class="user-avatar-name" id="showLoginAccount"></span>
                    <span class="login-log">
                    	[登录日志]
                    	<div class="login-log-tablebox">
	                    	<table class="login-log-table" border="0" cellspacing="" cellpadding="">
                                <thead><tr><th>登录IP</th><th>登录时间</th></tr></thead>
	                    		<tbody id="loginLog"></tbody>
	                    	</table>
                    	</div>
                    </span>
                </div>
                <ul class="clearfix">
                    <li class=""><a id="mobileAuth" class="iconfont icon-shoujirenzheng" href="javascript:void(0);" title="未绑定手机"></a></li>
                    <li class=""><a id="bindCardAuth" class="iconfont icon-yinhangqia" href="javascript:void(0);" title="未绑卡"></a></li>
                    <li class=""><a id="emailAuth" class="iconfont icon-youxiangrenzheng" href="javascript:void(0);" title="未绑定邮箱"></a></li>
                    <li class="hide"><a id="realNameAuth" class="iconfont icon-shimingrenzheng" href="javascript:void(0);" title="未实名认证"></a></li>
                    <li class="hide"><a id="companyAuth" class="iconfont icon-qiyerenzheng" href="javascript:void(0);" title="企业未认证"></a></li>
                </ul>
            </div>
        </div>
        <div class="user-part-center">
            <div class="myasset">
                <p class="p1">可用余额（元）</p>
                <p class="myacc money-count" id="shortMoney"></p>
            </div>
            <div class="handle">
                <a class="hd-tx bank-page" data-url="withdraw" href="javascript:void(0);">提现</a>
                <a class="hd-cz bank-page" data-url="recharge" href="javascript:void(0);">充值</a>
            </div>
        </div>
        <ul class="user-part-right">
            <li>
                <p>我的加息券</p>
                <p class="count">
                    <a class="hd-jxq load-page" data-url="my_interest_coupon" href="javascript:void(0);"></a>
                </p>
            </li>
            <li>
                <p>我的红包</p>
                <p class="count">
                    <a class="hd-hb load-page" data-url="my_gift_money" href="javascript:void(0);"></a>
                </p>
            </li>
        </ul>
    </div>
</div>

<!--主体内容-->
<div class="my-content clearfix">
	
    <!--左侧导航菜单-->
    <div class="left-menu">
        <h3>投资管理</h3>
        <ul>
            <li>
                <a data-url="account_overview" class="nav-item" href="javascript:void(0);"><span>账户总览</span><i class="iconfont icon-arrow-right"></i></a>
            </li>
            <li>
                <a data-url="my_invest" class="nav-item" href="javascript:void(0);"><span>我的投资</span><i class="iconfont icon-arrow-right"></i></a>
            </li>
            <li id="my_transfer">
                <a data-url="my_transfer" class="nav-item" href="javascript:void(0);"><span>债权转让</span><i class="iconfont icon-arrow-right"></i></a>
            </li>
            <li>
                <a data-url="account_detail" class="nav-item" href="javascript:void(0);"><span>交易明细</span><i class="iconfont icon-arrow-right"></i></a>
            </li>
            <li>
                <a data-url="collection_calendar" class="nav-item" href="javascript:void(0);"><span>回款计划</span><i class="iconfont icon-arrow-right"></i></a>
            </li>
            <!-- 自动投标暂时不上 -->
            <!--<li>-->
                <!--<a data-url="auto_invest_setting" class="nav-item" href="javascript:void(0);"><span>自动投标设置</span><i class="iconfont icon-arrow-right"></i></a>-->
            <!--</li>-->
        </ul>

        <h3>优惠中心</h3>
        <ul>
            <li>
                <a data-url="my_gift_money" class="nav-item" href="javascript:void(0);">红包<i class="iconfont icon-arrow-right"></i></a>
            </li>
            <li>
                <a data-url="my_interest_coupon" class="nav-item" href="javascript:void(0);">加息券<i class="iconfont icon-arrow-right"></i></a>
            </li>
            <!-- 邀请好友暂时不上 -->
            <!--<li>
                <a data-url="inviting_friends" class="nav-item" href="javascript:void(0);">邀请好友<i class="iconfont icon-arrow-right"></i></a>
            </li>-->
        </ul>

        <h3>账号管理</h3>
        <ul>
            <li id="personalSettingMenu" class="hide">
                <a data-url="personal_info" class="nav-item" href="javascript:void(0);">基本信息<i class="iconfont icon-arrow-right"></i></a>
            </li>
            <li id="companySettingMenu" class="hide">
                <a data-url="company_info" class="nav-item" href="javascript:void(0);">基本信息<i class="iconfont icon-arrow-right"></i></a>
            </li>
            <li>
                <a id="riskAssessment" class="nav-item" href="javascript:void(0);">风险评测<i class="iconfont icon-arrow-right"></i></a>
            </li>
        </ul>
    </div>

    <!--右侧内容-->
    <div class="right-content"></div>

</div>
<!--主体内容结束-->

<!--蒙版-->
<div class="not-hide-mask"></div>

<!--实名认证弹框-->
<div class="popup-open">
	<img src="../../img/open_security.png"/>
	<p class="p1">实名认证</p>
	<p class="p2">为了保障您的资金安全，请先进行实名认证</p>
	<a class="popup-btn" href="javascript:goRealName();">去实名认证</a>
    <a class="popup-close" href="javascript:cancelRealName();"><i class="iconfont icon-quxiao"></i></a>
</div>

<!--右侧悬浮框-->
<div class="suspended-frame">
	<ul class="suspended-con">
		<li>
			<a href="../invest/calculator.html">
				<i class="iconfont icon-calculator suspended"></i>
				<span class="hg">收益<br/>计算</span>
			</a>	
		</li>
			<li>
			<a style="cursor: pointer;">
				<i class="iconfont icon-about suspended"></i>
				<span class="hg">关于<br/>我们</span>
				<div class="scanning">
					<div>
						<img src="../../img/qr-1.png"/>
						<div class="xj">车聚宝APP下载</div>
					</div>
					<div>
						<img src="../../img/qr-2.png"/>
						<div class="xj">车聚宝公众号</div>
					</div>
				</div>
			</a>
			
		</li>
		
		<li>
			<a href="../about/help.html">
				<i class="iconfont icon-faq suspended"></i>
				<span class="hg">常见<br/>问题</span>
			</a>	
		</li>
		<li></li>
		<li style="display: none;">
			<a href="#top" id="toTop">
				<i class="iconfont icon-backtop suspended"></i>
				<span class="hg" style="color: #FFFFFF;">回到<br/>顶部</span>
			</a>	
		</li>	
	</ul>
	
</div>

<!------公用底部------>
<footer class="footer" id="footer"></footer>

<script src="../../js/jquery.min.js?v=2.1.4"></script>
<script src="../../plugins/layui/layui.js?v=2.4.5"></script>
<script src="../../plugins/validate/jquery.validate.min.js?v=1.14.0"></script>
<script src="../../plugins/validate/jquery.validate.extends.js"></script>
<script src="../../js/jquery.cookie.js"></script>
<script src="../../properties/host-config.properties.js"></script>
<script src="../../js/api-config.js"></script>
<script src="../../js/base-utils.js"></script>
<script src="../../js/base-utils.api.js"></script>
<script src="../../iconfont/iconfont.js"></script>
<script src="../../js/user/user_index.js"></script>
<script src="../../js/wipeUp.js"></script>
<script src="../../js/top.js" type="text/javascript"></script>

</body>
</html>