<!--回款计划--列表-->
<div class="layui-tab-content repayment-schedule  bgc-ri">
	<div class="bgc-white">
		<h5 class="title-row">还款计划</h5>
		<form class="layui-form-item" id="investorRepayPlanListSearchForm">
			<div class="layui-inline">
				<label class="layui-form-label lab-width">公司名称</label>
				<div class="layui-input-inline">
					<input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入公司名称" class="layui-input">
				</div>
			</div>
			<button type="button" class="layui-btn btn-bac" data-search-btn="true">查询</button>
		</form>
		<table class="layui-hide" id="loanerRepayPlanTable" lay-filter="loanerRepayPlanTable"></table>
	</div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        //执行一个 table 实例
        let loanerRepayPlanTable = LayTableUtil.render({
            elem: '#loanerRepayPlanTable'
            ,title: '回款计划'
            ,cols: [[ //表头
				{field: 'projectId', title: '项目编号', width: 160}
				, {field: 'currRepayPeriod', title: '本期还款期数', width: 120}
				, {
					field: 'currRepayAmt', title: '本期还款金额', width: 120, templet: function (d) {
						return MoneyUtil.formatMoney(NumberUtil.add(d.currRepayPrincipalAmt.amount, d.currRepayInterestAmt.amount))
					}
				}
				, {field: 'currExpectRepayTime', title: '本期还款日期', width: 120}
				, {
					field: 'currRepayStatus', title: '本期还款状态', width: 120, templet: function (d) {
						return d.currRepayStatus ? "已还款" : "未还款";
					}
				}
				, {field: 'loanerName', title: '客户名称', minWidth: 120}
				, {field: 'productName', title: '产品名称', minWidth: 120}
				, {
					field: 'projectAmount', title: '借款金额(元)', align: 'right', style: "text-align: right", width: 120, templet: function (d) {
						return MoneyUtil.formatMoney(d.projectAmount.amount)
					}
				}
				, {
					field: 'toRepayAmount', title: '未还金额(元)', align: 'right', style: "text-align: right", width: 120, templet: function (d) {
						return MoneyUtil.formatMoney(d.toRepayAmount.amount)
					}
				}
				, {
					field: 'projectTermValue', title: '借款期限', width: 120, templet: function (d) {
						return d.projectTermValue + d.projectTermUnit.message;
					}
				}
            ]]
            ,page: true
            ,height: 'full-220'
            ,url: repayPlanApiUrl.getRepayPlanList
            ,id: 'loanerRepayPlanTable'
        });

        //监听行工具事件
        laytable.on('tool(test)', function(obj){
            var data = obj.data
            if(obj.event === 'detail'){
                layer.msg('查看操作');
            }
        });

        $('#investorRepayPlanListSearchForm').find('[data-search-btn="true"]').click(function () {
            LayTableUtil.reload(loanerRepayPlanTable, 'investorRepayPlanListSearchForm');
        });

    });


</script>