<!-- 公共头部 -->
<div class="header-wrap">
	<div class="header-container">
		<a class="header-logo" href="../../index.html"><img src="../../img/white-logo.png"/></a>
		
		<div class="header-personal">
			
			<!--未登录-->
			<div class="hide header-not-login logged-out" id="logged-out">
				<span class="vertical-line"></span>
				<a href="../../login.html">登录</a>
				<a href="../../register.html">注册</a>
			</div>
			
			<!--已登录-->
			<div class="hide header-avatar logged-in" id="logged-in">
				<i class="iconfont icon-gerenzhongxin1 personal-icon"></i>
				<ul class="header-avatar-ul">
					<li><a href="../user/user_index.html">我的账户</a></li>
					<li><a href="javascript:$_GLOBAL.jumpToRecharge(userInfo);">充值</a></li>
					<li><a href="javascript:$_GLOBAL.jumpToWithdraw(userInfo);">提现</a></li>
					<li><a href="javascript:$_GLOBAL.doLogout();">退出</a></li>
				</ul>
			</div>
			
		</div>
		
		<ul class="header-nav">
			<li><a href="../../index.html">首页</a></li>
			<li><a href="../invest/invest.html">我要投资</a></li>
			<li><a href="javascript:$_GLOBAL.jumpToLoan();">我要借款</a></li>
			<li><a href="../about/info_disclosure.html">信息披露</a></li>
		</ul>
	</div>
</div>

<script>
	var userInfo;
	$(document).ready(function () {
		userInfo = commonAPIUtil.initUserInfoUnbindJump();
		var loginStatus = CookieUtil.getCookie('loginStatus');
		if ("true" == loginStatus) {
			$(".logged-in").show();
		} else {
			$(".logged-out").show();
		}
	});
	
</script>