<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="format-detection" content="telephone=no,email=no,address=no"/>
	<meta name="renderer" content="webkit">
	<title>帮助中心 - 车聚宝</title>
	<link rel="shortcut icon" href="../../img/favicon.ico"/>
	<script src="../../js/ismobile.js"></script>
	<link rel="stylesheet" type="text/css" href="../../plugins/layui/css/layui.css?v=2.1.5"/>
	<link rel="stylesheet" type="text/css" href="../../css/base.css"/>
	<link rel="stylesheet" type="text/css" href="../../iconfont/iconfont.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/common.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/news.css"/>
</head>
<body>
<!------公用头部------>
<header class="header" id="header"></header>
<div class="ky-wrap" id="container">
	<div class="content">
		<div class="content-left">
			<h3><span>帮助中心</span></h3>
			<div class="navigation">
				<a
					v-for="(item, index) in faqTypeArr"
					:key="item.id" 
					@click="getFaqData(item.faqTypeId); faqTypeIndex = index;" 
					:class="['left-item', {active: faqTypeIndex === index}]" 
					v-text="item.faqType"
				></a>
				
			</div>
		</div>
		<div class="content-right">
			<h4>车聚宝常见问题</h4>
			<ul class="base-question">
				<li v-for="(item, index) in faqDataArr">
					<p class="question-title">
						<span v-html="index + 1 + '. ' + item.faqTitle"></span>
					</p>
					<p class="question-content" v-html="'答：' + item.faqContent"></p>
				</li>
			</ul>
		</div>
	</div>
</div>

<!------公用底部------>
<footer class="footer" id="footer"></footer>

<script src="../../js/jquery.min.js"></script>
<script src="../../plugins/layui/layui.js?v=2.1.5"></script>
<script src="../../js/jquery.cookie.js"></script>
<script src="../../properties/host-config.properties.js"></script>
<script src="../../js/api-config.js"></script>
<script src="../../js/base-utils.js"></script>
<script src="../../js/base-utils.api.js"></script>

<script src="../../plugins/vue/vue.js"></script>
<script src="../../plugins/vue/axios.min.js"></script>

<script>
	var typeStr = window.location.hash.substring(1);
	var typeArr = typeStr.split('=');
	var faqTypeIdStr = typeArr[1];
	
	new Vue({
		el: '#container',
		data: {
			faqTypeArr: [],
			faqTypeIndex: 0,
			faqDataArr: []
		},
		created () {
			var self = this;
			
			axios({
				method: 'POST',
				url: indexApiUrl.questionTypes
			}).then(function (response) {
				if (response.data.code === '20000') {
					self.faqTypeArr = response.data.data;
					
					// 定位问题类型
					for (var i in self.faqTypeArr) {
						if (self.faqTypeArr[i].faqTypeId == faqTypeIdStr) {
							self.faqTypeIndex = Number(i);
						}
					}
					
					self.getFaqData(response.data.data[self.faqTypeIndex].faqTypeId);
					
				} else {
					alert(response.data.message);
				}
			})
		},
		methods: {
			getFaqData (faqTypeId) {
				window.location.hash = '#faqTypeId=' + faqTypeId;
				
				var self = this;
				axios({
					method: 'POST',
					url: indexApiUrl.faq,
					data: {
						faqTypeId: faqTypeId
					}
				}).then(function (response) {
					self.faqDataArr = response.data.data;
				})
			}
		},
		computed () {
			
		}
	})
	
	$("#header").load("../common/header.html");
	$("#footer").load("../common/footer.html");
	


	
	/*
	var types = [];
	$(document).ready(function(){
		$("#header").load("../common/header.html");
		$("#footer").load("../common/footer.html");

		// 初始化layer
		layui.use(['layer'], function () {
			layer = layui.layer;

			var result = AjaxUtil.ajaxPostWithLoading(indexApiUrl.questionTypes);
			if(result){
				loadFaqTypes(result);
			}

			var search = location.search;
			if(search){
				search = decodeURI(search.substring(1, search.length));
				var params = search.split(';');
				$.each(types, function (i, item) {
					if(item.faqTypeId == params[0]){
						getFaq(i);
						location.href = '#' + params[1];
					}
				})
			} else {
				getFaq(0);
			}
		});

		$('.navigation').on('click', 'a', function () {
			var index = $(this).index();
			getFaq(index);
		});
	});

	function loadFaqTypes(result) {
		if (result.data.length > 0) {
			$(".navigation").html("");
			$.each(result.data, function (i, item) {
				var con = '<a class="left-item" name="' + item.faqTypeId +  '" href="javascript:void(0);">' + item.faqType + '</a>';
				types.push({"faqType":item.faqType, "faqTypeId": item.faqTypeId});
				$(".navigation").append(con);
			});
		} else {
			layer.msg("暂无数据")
		}
	}

	function getFaq(index) {
		var faqResult = AjaxUtil.ajaxPostWithLoading(indexApiUrl.faq, JSON.stringify(types[index]));
		if(faqResult){
			loadFaq(index,faqResult.data);
		}
	}

	function loadFaq(index, data) {
		var $faq = $(".base-question");
		$faq.prev().text(types[index].faqType);
		$(".navigation a").eq(index).addClass('active').siblings().removeClass('active');
		if (data) {
            $faq.html("");
            $.each(data, function (i, item) {
                var con = ' <li>' +
                    '<p class="question-title">' +
                    '<a class="c-2b" href="javascript:void(0);" name="' + item.faqId + '">' + (i + 1) + "、" + item.faqTitle + '</a>' +
                    '</p>' +
                    '<p class="question-content">答：' + item.faqContent + '</p>' +
                    '</li>';
                $faq.append(con);
            });
		}

		var leftHeight = $('.content-left');
		var rightHeight = $('.content-right');
		rightHeight.removeAttr('style');
		if(leftHeight.height() > rightHeight.height()){
			rightHeight.height(leftHeight.height());
		} else {
			leftHeight.height(rightHeight.height());
		}
	}*/
</script>
</body>
</html>
