<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta name="format-detection" content="telephone=no,email=no,address=no"/>
	<title>新手引导 - 车聚宝</title>
	<link rel="shortcut icon" href="../../img/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="../../plugins/layui/css/layui.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/base.css"/>
	<link rel="stylesheet" type="text/css" href="../../iconfont/iconfont.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/common.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/index.css"/>
	
</head>
<body>
<!------公用头部------>
<header class="header" id="header"></header>
<div class="guide-banner"></div>
<p class="guide-p1"><span>新手专享  闯关赢好礼</span></p>
<p class="ta-c c-999">完成新手任务，获得相应奖励</p>
<ul class="guide-list clearfix">
	<li>
		<span>第一关</span>
		<img src="../../img/guide_1.png"/>
		<p class="p1">注册账号</p>
		<p class="p2">完成可得8元投资红包</p>
		<p class="p3">(红包单笔投资满3000元可用)</p>
		<a href="../../register.html">立即注册</a>
	</li>
	<li class="ml20">
		<span>第二关</span>
		<img src="../../img/guide_2.png"/>
		<p class="p1">实名认证</p>
		<p class="p2">完成可得1%新手专属加息券*1</p>
		<p class="p3">(加息券限额10万元)</p>
		<a href="javascript:void(0);" id="openStorage">去实名认证</a>
	</li>
	<li class="ml20">
		<span>第三关</span>
		<img src="../../img/guide_3.png"/>
		<p class="p1">首次投资</p>
		<p class="p2">完成可得1%新手专属加息券*1</p>
		<p class="p3">(加息券限额10万元)</p>
		<a href="../invest/invest.html">立即投资</a>
	</li>
	<li class="ml20">
		<span>第四关</span>
		<img src="../../img/guide_4.png"/>
		<p class="p1">邀请好友</p>
		<p class="p2">完成可得5元现金红包</p>
		<p class="p3">(每次邀请成功都有奖励哦)</p>
		<a href="javascript:void(0);" id="inviteFriends">邀请好友</a>
	</li>
</ul>
<div class="guide-tips">
	<div>
		<h5>温馨提示</h5>
		<p>1.第一关到第三关的奖励只能获取一次。</p>
		<p>2.只有成为车聚宝用户才可获取邀请奖励，受邀用户将获得8元投资红包奖励。</p>
		<p>3.本次活动解释权归上海开颜金融信息服务有限公司所有。</p>
	</div>
</div>

<!------公用底部------>
<footer class="footer" id="footer"></footer>

<script src="../../js/jquery.min.js"></script>
<script src="../../plugins/layui/layui.js?v=2.1.5"></script>
<script src="../../js/jquery.cookie.js"></script>
<script src="../../properties/host-config.properties.js"></script>
<script src="../../js/api-config.js"></script>
<script src="../../js/base-utils.js"></script>
<script src="../../js/base-utils.api.js"></script>
<script src="../../plugins/echarts/echarts.common.min.js"></script>
<script>
	$(document).ready(function(){
		$("#header").load("../common/header.html", function() {
			$(".header-nav li").eq(2).find("a").addClass("active");
		});
		$("#footer").load("../common/footer.html");

		$('#inviteFriends').click(function () {
			if ("true" != CookieUtil.getCookie('loginStatus')) {
				layer.msg('您还没有登录，不能做此操作，请先登录。', {time:2000}, function () {
					CookieUtil.clearAllCookie();
					$_GLOBAL.jumpToLogin();
				});
			} else {
				window.location.href = $_GLOBAL.basePath() + "/views/user/user_index.html#inviting_friends";
			}
		});

		$('#openStorage').click(function () {
			if ("true" != CookieUtil.getCookie('loginStatus')) {
				layer.msg('您还没有登录，不能做此操作，请先登录。', {time:2000}, function () {
					CookieUtil.clearAllCookie();
					$_GLOBAL.jumpToLogin();
				});
				return false;
			}

			var userInfo = commonAPIUtil.initUserInfo();
			if(validateAPIUtil.validateUserHaseRealName(userInfo)){
				if (userInfo.userType.code == 'JG') {
					window.location.href = $_GLOBAL.basePath() + "/views/user/user_index.html#company_info";
				} else {
					window.location.href = $_GLOBAL.basePath() + "/views/user/user_index.html#personal_info";
				}
			} else {
				if (userInfo.userType.code == 'JG') {
					window.location.href = $_GLOBAL.basePath() + "/views/user/user_index.html#settings/company_real_name";
				} else {
					window.location.href = $_GLOBAL.basePath() + "/views/user/user_index.html#settings/personal_real_name";
				}
			}

		});
	});
</script>
</body>
</html>
