<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="format-detection" content="telephone=no,email=no,address=no"/>
	<meta name="renderer" content="webkit">
	<title>平台公告 - 车聚宝</title>

	<script src="../../js/ismobile.js"></script>
	<link rel="stylesheet" type="text/css" href="../../plugins/layui/css/layui.css?v=2.1.5"/>
	<link rel="shortcut icon" href="../../img/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="../../css/base.css"/>
	<link rel="stylesheet" type="text/css" href="../../iconfont/iconfont.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/common.css"/>
	<link rel="stylesheet" type="text/css" href="../../css/news.css"/>
	
</head>
<body>
<!------公用头部------>
<header class="header" id="header"></header>

<div class="ky-wrap">
	<div class="content">
		
		<!--左边-->
		<div class="content-left">
			<h3>
				<!--<i class="iconfont icon-gonggao1"></i>-->
				<span>平台公告</span>
			</h3>
			<a class="left-item active goToNotice" href="javascript:void(0);">平台公告</a>
		</div>
		
		<!--右边-->
		<div class="content-right active-detail">
			<h4>平台公告</h4>
			<ul class="list"></ul>
			<!--分页容器-->
			<div class="ta-c mt15" id="newListLaypageBox"></div>
		</div>
	</div>
</div>

<!------公用底部------>
<footer class="footer" id="footer"></footer>

<script src="../../js/jquery.min.js"></script>
<script src="../../plugins/layui/layui.js?v=2.1.5"></script>
<script src="../../plugins/swiper/swiper.min.js"></script>
<script src="../../js/jquery.cookie.js"></script>
<script src="../../properties/host-config.properties.js"></script>
<script src="../../js/api-config.js"></script>
<script src="../../js/base-utils.js"></script>
<script src="../../js/base-utils.api.js"></script>

<script src="../../js/about/news.js"></script>
</body>
</html>
