<!--公告详情-->
<h4>
	<span id="noticeTitle"></span>
	<a class="back-list goToNotice" href="javascript:void(0);" id="goToNotice">返回列表</a>
</h4>
<article>
	<p class="article-head">尊敬的车聚宝用户：</p>
	<p class="article-content" id="noticeText"></p>
</article>
<p class="article-date">
	<span id="noticeTime"></span><br/>
	<span>车聚宝团队</span>
</p>
<div class="turn-page">
	<div>
		<a class="hide" href="javascript:void(0);">上一条：<span id="preNotice"></span></a>
	</div>
	<div>
		<a class="hide" href="javascript:void(0);">下一条：<span id="nextNotice"></span></a>
	</div>
</div>
<script src="../../js/about/news_detail.js"></script>
