<div id="container">
	<h5 class="title-row">账户明细</h5>
	<div class="date-filter">
		<label>起止时间：</label>
		<input id="dateRange" type="text" placeholder="请选择" />
		<a class="ubtn" href="javascript:;" @click="pageQuery(true)">查询</a>
	</div>
	<div class="date-filter">
		<label>交易类型：</label>
		<a 
			href="javascript:;" 
			v-for="(item, index) in txnTypeArr" 
			@click="txnTypeIndex = index; pageNum = 1; pageQuery(true);"
			:class="{active: index == txnTypeIndex}"
		>{{item.text}}</a>
	</div>
	
	<div class="table-wrap">
		<table class="layui-table">
			<thead>
				<tr>
					<th>交易时间</th>
					<th>交易类型</th>
					<th style="text-align: right">交易金额(元)</th>
					<th>状态</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="item in listArr">
					<td>{{DateUtils.longToDateString(item.txnTime)}}</td>
					<td>{{item.txnType.message}}</td>
					<td style="text-align: right">{{MoneyUtil.formatMoney(item.txnAmt.amount)}}</td>
					<td>{{item.txnStatus.message}}</td>
				</tr>
			</tbody>
		</table>
		<div v-show="noData" class="no-data"><img src="../img/no_data.png"/><p class="ta-c">没有数据</p></div>
	</div>
	
	<!--分页-->
    <div v-show="listArr.length" class="pagination-wrap ta-c mt15">
        <div class="pagination-row" id="pagination"></div>
    </div>
</div>

<script>
	axios.defaults.headers.common['X-Auth-Token'] = $.cookie('X-Auth-Token') || "";
	
	new Vue({
		el: '#container',
		data: {
			listArr: [],
			pageNum: 1,
			pageSize: 10,
			dateQuery: '',
			totalCount: '',
			noData: false,    //默认有数据，不显示 no-data 状态
			dateRangeXXX: null,
			txnTypeArr: [
				{text: '全部', txnType: ''},
				{text: '充值', txnType: 'recharge'},
				{text: '提现', txnType: 'withdraw'},
				{text: '服务费', txnType: 'service_fee'},
				{text: '还款', txnType: 'repay'},
				{text: '放款', txnType: 'loan'}
			],
			txnTypeIndex: 0,
		},
		created () {
			this.pageQuery(true);
			
		},
		methods: {
			pageQuery (isPaginationReload) {
				
				// 日期查询
				var dateRange = document.getElementById('dateRange').value,
					startTm = '',
					endTm = '';
					
				if (dateRange) {
					var temp = dateRange.split(" 至 ");
					startTm = temp[0];
					endTm = temp[1];
				}
				
				var self = this;
				
				axios({
					method: 'POST',
					url: commonApiUrl.tradeDetails,
					data: {
						pageNum: self.pageNum,
						pageSize: self.pageSize,
						txnType: self.txnTypeArr[self.txnTypeIndex].txnType,
						startTm: startTm,
						endTm: endTm
					}
				}).then(function (response) {
					
					if (response.data.code == '20000') {
						self.listArr = response.data.rows;
						self.totalCount = response.data.total;
						
						if (self.totalCount == 0) {
							self.noData = true;
						} else {
							self.noData = false;
						}
						
						if (isPaginationReload) {
							layui.use('laypage', function() {
	                            var laypage = layui.laypage;
						
								laypage.render({
		                            elem: 'pagination',
		                            count: self.totalCount,
		                            limit: self.pageSize,
		                            theme: '#3fabf7',
		                            layout: ['prev', 'page', 'next', 'count'],
		                            jump: function (obj, first) {
		                                if (!first) {
		                                    self.pageNum = obj.curr;
		                                    self.pageQuery(false)
		                                }
		                            }
		                        })
							})
						}
						
					} else if (response.data.code == '40404' || response.data.code == '40405') {
						layer.msg('由于您长时间未操作，请重新登录。', {time:1000}, function () {
							CookieUtil.clearAllCookie();
							$_GLOBAL.jumpToLogin();
						});
					} else {
						layer.msg(result.message);
					}
				})
			}
		} 
	})
	

	layui.use('laydate', function(){
		var laydate = layui.laydate;
	    laydate.render({
			elem: '#dateRange',
            theme: '#3fabf7',
			range: '至'
		});
	});
</script>