<h5 class="title-row">借款详情<a href="javascript:loadTemplate('apply');" class="fr">返回&nbsp;<i class="iconfont icon-xiangxia"></i></a></h5>
<div class="table-wrap">
	<table class="layui-table detail-table">
		<tr>
			<td>借款产品</td>
			<td id="loanProduct"></td>
			<td>借款金额(元)</td>
			<td id="loanAmount"></td>
		</tr>
		
		<tr>
			<td>借款期限</td>
			<td id="loanTerm"></td>
			<td>还款方式</td>
			<td id="repayMethod"></td>
		</tr>
		<tr>
			<td>年化利率</td>
			<td id="interestRate"></td>
			<td>服务费类型</td>
			<td id="feeType"></td>
		</tr>
		<tr>
			<td>服务费率</td>
			<td id="feeRate"></td>
			<td>服务费金额(元)</td>
			<td id="feeAmount"></td>
		</tr>
		<tr>
			<td>服务费状态</td>
			<td id="feeStatus"></td>
			<td>服务费滞纳金</td>
			<td id="serviceFeeOverdueAmt"></td>
		</tr>
		<tr>
			<td>借款时间</td>
			<td id="loanApplyDate"></td>
			<td>起息时间</td>
			<td id="valueDate"></td>
		</tr>
		<tr>
			<td>当前状态</td>
			<td id="loanStatus"></td>
			<td>所属商户</td>
			<td id="merchantName"></td>
		</tr>
		<tr>
			<td>用户服务协议</td>
			<td><a class="c-blue" href="javascript:;" id="loanContract" target="_blank">查看</a></td>
			<td>借款合同</td>
			<td><a class="c-blue" href="javascript:;" id="investContract" target="_blank">查看</a></td>
		</tr>
		<tr>
			<td>借款用途</td>
			<td id="loanPurpose"></td>
		</tr>
	</table>
</div>

<div class="popup-contract">
	<h6>借款合同<i class="iconfont icon-guanbi1 close-btn"></i></h6>
	<ul class="contract-list" id="contract-list">
	</ul>
	
</div>

<script>
    $(document).ready(function () {
        var applyId = BaseUtil.getUrlParams(location.hash).applyId;
        if(!applyId){
            layer.msg("参数错误");
            return;
        }
        
        $(".close-btn").click(function () {
        	$(".popup-contract, .mask").hide();
        })
        

        getApplyDetail(applyId);

    });
    function getApplyDetail(applyId) {
        var data = {
            applyId: applyId
        };
        var result = AjaxUtil.ajaxPostWithLoading(loanApiUrl.getApplyDetail, JSON.stringify(data));
        if(result){
            var info = result.data;
            $("#loanProduct").text(info.loanProduct);
            $("#loanAmount").text(MoneyUtil.formatMoney(info.loanAmount, 2));
            $("#loanTerm").text(info.loanTerm);
            $("#repayMethod").text(info.repayMethod);
            $("#interestRate").text(NumberUtil.mul(info.interestRate, 100) + "%");
            $("#feeRate").text(NumberUtil.mul(info.serviceFeeRate, 100) + "%");
            $("#feeAmount").text(MoneyUtil.formatMoney(info.serviceFeeAmt, 2));
            $("#feeType").text(info.serviceFeeType == "pre" ? "前置收取" : "后置收取");
            $("#feeStatus").text(info.serviceFeeStatus ? "已缴费" : "未缴费");
            $("#loanApplyDate").text(info.loanApplyDate);
            $("#valueDate").text(info.interestTime);
            $("#loanStatus").text(info.loanStatus);
            $("#merchantName").text(info.merchantName);
            $("#loanPurpose").text(info.loanPurpose);
            $("#serviceFeeOverdueAmt").text(info.serviceFeeOverdueAmt);

            //合同
            if(info.loanStatus == "待还款" || info.loanStatus == "已完成"){
                $("#investContract").click(function () {
                    $(".popup-contract, .mask").show();
                });

                if(info.loanContract.contractStatus){
                    $("#loanContract").on("click", function () {
                        previewContract(info.loanContract.contractId);
                    });
                } else {
                    $("#loanContract").text("待生成").css("color", "#75818b");
                }

                $.each(info.contracts, function (index, obj) {
                    var contractBtn = obj.contractStatus ? "<a href=\"javascript:previewContract('" + obj.contractId + "');\">查看</a>" : "待生成";
                    var li = "<li><span>" + obj.contractName + "</span>" + contractBtn + "</li>";
                    $("#contract-list").append(li);
                });
            } else {
                $("#loanContract").text("待生成").css("color", "#75818b");
                $("#investContract").text("待生成").css("color", "#75818b");
			}
        }
    }

    function previewContract(contractId) {
        var param = {
            "contractId": contractId
        };
        var res = AjaxUtil.ajaxPost(contractApiUrl.getContract, JSON.stringify(param));
        if(res){
            window.open(res.data, "_blank");
        }
    }
</script>
