<h5 class="title-row">所属商户</h5>
<div class="table-wrap">
	<table class="layui-table" id="creditTable">

	</table>
</div>

<script>
    $(document).ready(function () {
        layui.table.render({
            elem: '#creditTable'
            , cols: [[
                {field: 'merchantUserName', title: '商户名称'}
                , {field: 'creditUsedAmount', title: '已用信额度(元)', align: 'right', style: "text-align: right", templet: function (d) {
                    return MoneyUtil.formatMoney(d.creditUsedAmount.amount, 2);
                }}
                , {field: 'creditStatus', title: '授信状态', templet: function (d) {
                    return d.creditStatus.message;
                }}
                , {field: 'creditTime', title: '授信时间', templet: function (d) {
                    return DateUtils.longToDateStringYMD(d.creditTime);
                }}
                , {field: 'creditDeadline', title: '到期时间', templet: function (d) {
                    return DateUtils.longToDateStringYMD(d.creditDeadline);
                }}
            ]]
            , text: {
                none: '<div class="none-data pt-100 pb-50"><img src="../img/no_data.png"/><p class="ta-c">没有数据</p></div>' //默认：无数据。注：该属性为 layui 2.2.5 开始新增
            }
        });

        getCreditList();
    });
    function getCreditList(){
        var result = AjaxUtil.ajaxPostWithLoading(loanApiUrl.getCreditList);
        if(result){
            layui.table.reload("creditTable", {
                data: result.data
            });
        }
    }
</script>