<div class="account clearfix bgc-white borrowers">
		<div class="account-left">
			<p class="pandect-caption">账户预览</p>
			<div>
				<p class="p1"><span id="totalRepayAmount">--</span></p>
				<p class="p2">资金包余额(元)</p>
			</div>
			<div>
				<p class="p1"><span id="totalRepayCount">--</span></p>
				<p class="p2">当前借款笔数(笔)</p>
			</div>
			<div>
				<p class="p1"><span id="totalRepayCount">--</span></p>
				<p class="p2">待审核借款(笔)</p>
			</div>
		</div>
		<div class="account-right">
			<p class="p1 size-ts"><span id="totalBalance">--</span></p>
			<p class="p2">资金包总额(元)</p>
			<p class="p3">资金余额(元)：<span id="frozenBalance"> -- </span></p>
			<!--<p class="p4">
				<a class="ubtn" href="javascript:;" onclick="withdraw()">提现</a>
				<a class="ubtn" href="javascript:;"onclick="recharge()">充值</a>
			</p>-->
		</div>
	</div>
