<h5 class="title-row">企业实名认证</h5>

<form id="companyRealNameForm" class="layui-form">
	<div class="company-row">
		<label>企业名称：</label>
		<div class="input-div">
			<input type="text" name="realName" placeholder="请输入企业名称"/>
		</div>
	</div>
	<div class="company-row">
		<label>法人姓名：</label>
		<div class="input-div">
			<input type="text" name="legalName" placeholder="请输入企业法人姓名"/>
		</div>
	</div>
	<div class="company-row">
		<label>法人身份证号：</label>
		<div class="input-div">
			<input type="text" name="legalCert" placeholder="请输入法人身份证号码"/>
		</div>
	</div>
	<div class="company-row">
		<label>企业营业执照号：</label>
		<div class="input-div">
			<input type="text" name="businessLicense" placeholder="请输入企业营业执照号"/>
		</div>
	</div>
	<!--
	<div class="company-row">
		<label>银行开户许可证号：</label>
		<div class="input-div">
			<input type="text" name="bankLicense" placeholder="请输入银行开户许可证号"/>
		</div>
	</div>
	<div class="company-row">
		<label>企业联系人：</label>
		<div class="input-div">
			<input type="text" name="contact" placeholder="请输入企业联系人"/>
		</div>
	</div>
	<div class="company-row">
		<label>企业联系人手机号：</label>
		<div class="input-div">
			<input type="text" name="contactPhone" placeholder="请输入企业联系人手机号"/>
		</div>
	</div>
	<div class="company-row">
		<label>企业开户银行：</label>
		<div class="select-inline">
			<select id="bankCode" name="bankCode" lay-verify="required" placeholder="请选择企业开户银行">

			</select>
		</div>
	</div>
	<div class="user-row">-->
		<!--<label>企业对公账户：</label>-->
		<!--<div class="input-div">-->
			<!--<input type="text" name="bank_card_no" placeholder="请输入企业对公账户"/>-->
		<!--</div>-->
	<!--</div>-->
	
	<input class="row-btn" type="button" id="realNameBtn" value="确定"/>
	
</form>


<script>
    $(document).ready(function () {
        layui.form.render('select');

        validateForm();

        $("#realNameBtn").click(function () {
            if ($("#companyRealNameForm").valid()) {
                var data = DataDeal.formToJson($('#companyRealNameForm').serialize());
                var result = AjaxUtil.ajaxPostWithLoading(userProfileApiUrl.companyOpenAccount, data);
                if(result){
                    $_GLOBAL.jumpToDeposit(result.data);
                }
            }

        });

//        getBankSelect();
    });

    function getBankSelect(){
        AjaxUtil.ajaxPostCallBack(commonApiUrl.getBank, null, function (result) {
            SelectUtil.setSelectOpts(result.data, "bankCode", "code", "desc");
            layui.form.render('select');
        });
	}

    function validateForm(){
        $("#companyRealNameForm").validate({
            ignore: ":hidden:not(select)",
            rules: {
                realName: {
                    required: true/*,
                    chinese: true*/
                },
				legalName: {
                    required: true,
                    chinese: true
                },
				legalCert: {
                    required: true,
                    idCard: true
                },
                businessLicense: {
                    required: true,
                    businessLicenseNo: true
                },
				/*
                bankLicense: {
                    required: true,
				},
                contact: {
                    required: true,
                    chinese: true,
                },
                contactPhone: {
                    required: true,
                    mobile: true,
                },
                bankCode: {
                    required: true,
                },*/
            },
            messages: {
                realName: {
                    required: "请输入企业名称",
                    chinese: "请输入正确的企业名称"
                },
				legalName: {
                    required: "请输入企业法人姓名",
                    chinese: "请输入正确的企业法人姓名"
                },
				legalCert: {
                    required: "请输入法人身份证号码",
                    idCard: "请输入正确的法人身份证号码"
                },
                businessLicense: {
                    required: "请输入企业营业执照号",
                    businessLicenseNo: "请输入正确的企业营业执照号"
                },
				/*
                bankLicense: {
                    required: "请输入银行开户许可证号",
                },
                contact: {
                    required: "请输入企业联系人姓名",
                    chinese: "请输入正确的企业联系人姓名",
                },
                contactPhone: {
                    required: "请输入企业联系人手机号",
                    mobile: "请输入正确的企业联系人手机号",
                },
                bankCode: {
                    required: "请选择企业开户银行",
                },*/
            },
            errorClass: "form-error-msg",
            errorElement: "span",
            errorPlacement: function (error, element) { //错误信息位置设置方法
                error.appendTo(element.parent());
            }
        });
    }
	
</script>