<h5 class="title-row">已还款记录<a href="javascript:loadTemplate('repayment');" class="fr">返回&nbsp;<i class="iconfont icon-xiangxia"></i></a></h5>
<div class="table-wrap">
	<table class="layui-table" id="repayTable" lay-filter="repayTable">
	</table>
	<div class="ta-c" id="repayListLaypageBox"></div>
</div>
<script type="text/javascript">
    var pageSize = 10;
    $(document).ready(function () {

        layui.table.render({
            elem: '#repayTable'
            ,cols: [[
				{field:'tradeName', title: '交易产品', width: 160}
                ,{field:'productName', title: '借款产品'}
                ,{field:'toRepayAmount', title: '借款金额(元)', align: 'right', style: "text-align: right", templet: function(d){
                    return MoneyUtil.formatMoney(d.loanAmount, 2);
                }}
                ,{field:'toRepayAmount', title: '还款金额(元)', align: 'right', style: "text-align: right", templet: function(d){
                    return MoneyUtil.formatMoney(d.repayAmount, 2);
				}}
                ,{field:'repayPeriod', title: '还款期次'}
                ,{field:'repayDate', title: '还款时间', width: 180, templet: function(d){
					return d.repayTime ? DateUtils.longToDateString(d.repayTime) : "";
				}} //minWidth：局部定义当前单元格的最小宽度，layui 2.2.1 新增
            ]]
            ,text: {
                none: '<div class="none-data pt-100 pb-50"><img src="../img/no_data.png"/><p class="ta-c">没有数据</p></div>' //默认：无数据。注：该属性为 layui 2.2.5 开始新增
            }
        });

        getRepayList(1);

    });

    function getRepayList(pageNum){
        var data = {
            pageNum: pageNum,
            pageSize: pageSize
        };
        var result = AjaxUtil.ajaxPostWithLoading(loanApiUrl.getRepaidList, JSON.stringify(data));
        if(result){
            layui.table.reload("repayTable", {
                data: result.rows
            });
            if(result.total > 0){
                initPaging(pageNum, result.total);
            }
        }
    }

    // 加载分页插件
    function initPaging(index, total) {
        layui.laypage.render({
            elem: 'repayListLaypageBox' //指向存放分页的容器，值可以是容器ID、DOM对象，不用加 # 号
            , count: total //数据总数，从服务端得到
            , limit: pageSize //每页显示的条数
            , layout: ['prev', 'page', 'next', 'count']
            , theme: '#3fabf7'
            , curr: index
            , jump: function (obj, first) {
                //首次不执行
                if (!first) {
                    $(document).scrollTop(120);
                    getRepayList(obj.curr);
                }
            }
        });
    }
</script>