<h5 class="title-row">还款详情</h5>
<div class="table-wrap">
	<table class="layui-table detail-table">
		<tr>
			<td>借款产品</td>
			<td id="loanProduct"></td>
			<td>借款金额(元)</td>
			<td id="loanAmount"></td>
		</tr>
		
		<tr>
			<td>借款期限</td>
			<td id="loanTerm"></td>
			<td>还款方式</td>
			<td id="repayMethod"></td>
		</tr>
		<tr>
			<td>年化利率</td>
			<td id="interestRate"></td>
			<td>服务费率</td>
			<td id="feeRate"></td>
		</tr>
	
		<tr>
			<td>借款时间</td>
			<td id="loanApplyDate"></td>
			<td>起息时间</td>
			<td id="valueDate"></td>
		</tr>
		<tr>
			<td>当前状态</td>
			<td id="loanStatus"></td>
			<td>所属商户</td>
			<td id="merchantName"></td>
		</tr>
		<tr>
			<td>服务费金额</td>
			<td id="feeAmount"></td>
			<td>服务费状态</td>
			<td id="feeStatus"></td>
		</tr>
		<tr>
			<td>服务费滞纳金</td>
			<td id="serviceFeeOverdueAmt"></td>
		</tr>
		<tr>
			<td>借款用途</td>
			<td colspan="3" id="loanPurpose"></td>
		</tr>
		<tr>
			<td>借款合同</td>
			<td colspan="3"><a class="c-blue" href="javascript:;" id="loanContractViewBtn" target="_blank">查看</a></td>
		</tr>
	</table>
</div>
<h5 class="title-row">还款计划</h5>
<ul class="plan-list">
</ul>

<script type="text/javascript">

	var applyId,serviceFeeStatus;
    $(document).ready(function () {
        var repayPlanId = BaseUtil.getUrlParams(location.hash).repayPlanId;
        if(!repayPlanId){
            layer.msg("参数错误");
            return;
        }

        getRepayDetail(repayPlanId);

    });
    function getRepayDetail(repayPlanId) {
        var data = {
            repayPlanId: repayPlanId
        };
        var result = AjaxUtil.ajaxPostWithLoading(loanApiUrl.getRepayDetail, JSON.stringify(data));
        if(result){
            var applyInfo = result.data.loanApplyVO;
            applyId = applyInfo.applyId;
            serviceFeeStatus = applyInfo.serviceFeeStatus;
            $("#loanProduct").text(applyInfo.loanProduct);
            $("#loanAmount").text(MoneyUtil.formatMoney(applyInfo.loanAmount, 2));
            $("#loanTerm").text(applyInfo.loanTerm);
            $("#repayMethod").text(applyInfo.repayMethod);
            $("#interestRate").text(NumberUtil.mul(applyInfo.interestRate, 100) + "%");
            $("#feeRate").text(NumberUtil.mul(applyInfo.serviceFeeRate, 100) + "%");
            $("#feeAmount").text(MoneyUtil.formatMoney(applyInfo.serviceFeeAmt, 2));
            $("#feeStatus").text(applyInfo.serviceFeeStatus ? "已缴费" : "未缴费");
            $("#loanApplyDate").text(applyInfo.loanApplyDate);
            $("#valueDate").text(applyInfo.interestTime);
            $("#loanStatus").text(applyInfo.loanStatus);
            $("#merchantName").text(applyInfo.merchantName);
            $("#loanPurpose").text(applyInfo.loanPurpose);
            $("#serviceFeeOverdueAmt").text(applyInfo.serviceFeeOverdueAmt);
            $("#loanContractViewBtn").attr("href", applyInfo.contractUrl);
						
            var repayPlanList = result.data.repayPlanList;
            $.each(repayPlanList, function (index, obj) {
                var repayPeriod = obj.repayPeriod;
                var toRepayAmount = MoneyUtil.formatMoney(obj.toRepayAmount, 2);
                var principalAmount = MoneyUtil.formatMoney(obj.principalAmount, 2);
                var interestAmount = MoneyUtil.formatMoney(obj.interestAmount, 2);
                var overdueAmount = MoneyUtil.formatMoney(obj.overdueAmount, 2);          
                var serviceAmount = MoneyUtil.formatMoney(obj.serviceAmount, 2);
                var repayDate = obj.repayDate;
                var overdueDays=obj.overdueDays; //逾期天数
                var repayStatus = obj.repayStatus;
                var daysFromRepayDate = Number(obj.daysFromRepayDate);// 距离还款日天数
                var repayBtn = '';
                
                if (repayStatus == '未还款') {
                	if(!result.data.loanApplyVO.applyCompensatoryStatus){
								if (daysFromRepayDate <= 0) {
									repayBtn = '<a class="ubtn" data-id="' + obj.repayPlanId + '" href="javascript:void(0);" onclick="toRepay(this);">立即还款</a>';
								} else {
									repayBtn = '<a class="ubtn" data-id="' + obj.repayPlanId + '" href="javascript:void(0);" onclick="toRepay(this);">提前还款</a>';
								}
						}
                		} else {
                    repayBtn = '<a class="ubtn not" href="javascript:void(0);">已还款</a>'
                }
//              var liContent = '<li>' +
//                  '<p><span class="col-1-1">第' + repayPeriod + '期</span><span class="col-1-2">本期还款 ' + toRepayAmount + '元</span><span class="col-1-3">' + repayDate + '</span><spanclass="col-1-4>（已逾期' + overdueDays + '天）</span></p>' +
//                  '<p><span class="col-2-1">(本金' + principalAmount + '+利息' + interestAmount + '<i class="visibleBox">+逾期罚息' + overdueAmount + ')</i></span><span class="col-2-2">还款日期</span></p>' +
//                  repayBtn +
//                  '</li>';
                    
                    
                    
                var liContent = '<li><p>' 
                
                    liContent+='<span class="col-1-1">第' + repayPeriod + '期</span>'
                    liContent+='<span class="col-1-2">本期还款 ' + toRepayAmount + '元</span>'
                    liContent+='<span class="col-1-3">' + repayDate + '</span>'
                    if(overdueDays> 0){
                    	liContent+='<span class="col-1-4">（已逾期' + overdueDays + '天）</span>'     	
                    }

                    liContent+='</p><p><span class="col-2-1">(本金' + principalAmount + '+利息' + interestAmount 
                    if(overdueDays> 0){
                    	liContent+='<span class="visibleBox">+逾期罚息' + overdueAmount + '</span>'
                    }
                    
                    liContent+=')</span><span class="col-2-2">还款日期</span></p>' +repayBtn
                    liContent+='</li>'
                    
                    
                    
                    
                $(".plan-list").append(liContent);
                
               
            });
        }
    }

    function toRepay(ele) {
        if(!serviceFeeStatus){
            layer.confirm('您有服务费待缴纳，立即去缴纳?', {icon: 0, title:'提示'}, function(index){
                loadTemplate("pay_fee_order?applyId=" + applyId);
                layer.close(index);
            });
        } else {
            var repayPlanId = $(ele).attr('data-id');
            if (repayPlanId) {
                loadTemplate("repayment_order?repayPlanId=" + repayPlanId);
            }
        }

    }
</script>