<!--账户总览-->
<div class="total-account">
	<ul class="clearfix">
		<li class="mt0Imp">
			<p class="p-txt">资产总额(元)<i data-title="资产总额" class="iconfont icon-xinxi icon-tips"></i></p>
			<p class="p-num money-count fs-36Imp" id="totalAssets">0.00</p>
		</li>
		<li class="mt0Imp">
			<p class="p-txt">累计已获收益(元)<i data-title="已经还款完成的标的产生的利息收益，不包括正在投资中的项目" class="iconfont icon-xinxi icon-tips"></i></p>
			<p class="p-num money-count fs-36Imp" id="totalProfit">0.00</p>
		</li>
		<li>
			<i class="iconfont icon-yanjing eye-btn"></i>
		</li>
	</ul>
	<ul class="clearfix">
		<li>
			<p class="p-txt">待收本金(元)<i data-title="已经投资的项目并开始计息的投资金额" class="iconfont icon-xinxi icon-tips"></i></p>
			<p class="p-num money-count" id="toBeReceivedPrincipal">0.00</p>
		</li>
		<li>
			<p class="p-txt">预期待收收益(元)<i data-title="已经投资的项目还未还款的标的所产生的利息收益（包括使用加息券后产生的多余收益）" class="iconfont icon-xinxi icon-tips"></i></p>
			<p class="p-num money-count" id="toBeReceivedProfit">0.00</p>
		</li>
		<li>
			<p class="p-txt">冻结金额(元)<i data-title="投资人对某借款列表进行投标后，在此列表的招标期结束之前，这部分投标金额将被锁定，“冻结金额”是指因这种类型锁定金额的总额。如果列表放款，这部分金额将转给该列表的借款人；如果该列表流标，这部分金额将立即变为用户的可用金额。" class="iconfont icon-xinxi icon-tips"></i></p>
			<p class="p-num money-count" id="frozenBalance">0.00</p>
		</li>
	</ul>
</div>
<div class="space"></div>
<div class="icon-title-row">
	<i class="iconfont icon-zuijinshouyi"></i>
	<span class="va-m">最近交易</span>
	<a href="#account_detail">
		<span class="va-m">查看更多</span>
		<i class="iconfont icon-arrow-right va-m"></i>
	</a>
</div>

<div class="table-wrap">
	<table class="layui-table" lay-skin="nob">
		<thead>
		<tr>
			<th>交易类型</th>
			<th>交易时间</th>
			<th>交易金额（元）</th>
			<th>状态</th>
		</tr>
		</thead>
		<tbody id="accountDetail">
		</tbody>

	</table>
</div>
<script src="../../js/user/model/account_overview.js"></script>