<!-- 此功能未做，代码留有后用 -->
<!--自动投标设置-->
<h4 class="tit-5">
	<span>自动投标设置</span>
	<div id="oc-btn" class="x1 open1">
		<div class="x2">开</div>
	</div>
</h4>

<a class="auto-btn" href="javascript:void(0);">确认打开</a>
<p class="auto-tips">开通自动投标功能需要到富友完成相关授权操作</p>

<div class="auto-invrul">
	<h5>自动投标规则说明</h5>
	<p>1.会员设置并启用自动投标规则后立即生效；</p>
	<p>2.会员在平台以借款人角色获得资金时，自动关闭自动投标，以避免借款被用于自动投标；</p>
	<p>3.每个标的只能完成1次自动投标，同一个借款项目，当自动投标完成后，会员也可手动投标；</p>
	<p>4.投标排序规则如下：</p>
	<p class="p-letter">a.投标序列默认按照开启自动投标的时间先后进行排序；</p>
	<p class="p-letter">b.自动投标规则修改之后，将根据修改时间重新排序；</p>
	<p class="p-letter">c.每个用户每个标仅自动投标一次，投标后，排到队尾；</p>
	<p class="p-letter">d.轮到用户投标时没有符合用户条件的标，也视为投标一次，重新排队。</p>
</div>


<script type="text/javascript">
	//自动投标设置
	var flag = true;
	$("#oc-btn").click(function(){
		if(flag){
			$(this).removeClass("open1").addClass("close1");
			$(".x2").removeClass("open2").addClass("close2");
			$(".x2").text("关");
			flag = false;
		}else{
			$(this).removeClass("close1").addClass("open1");
			$(".x2").removeClass("close2").addClass("open2");
			$(".x2").text("开");
			flag = true;
		}
	});
</script>