<!--账户明细-->
<h4 class="child-page-title">回款计划<span class="accounttotleMoney">全部待收本息：<i>-</i>元</span></h4>

<div class="account-detail-filter q-style">
	<!--<label>交易类型：</label>-->
	<div class="type-filter" id="btn-box">
		<button class="layui-btn layui-btn-primary layui-btn-radius activeBtn">全部待回</button>
		<button class="layui-btn layui-btn-primary layui-btn-radius">1个月内</button>
		<button class="layui-btn layui-btn-primary layui-btn-radius">3个月内</button>
		<button class="layui-btn layui-btn-primary layui-btn-radius">3个月以上</button>
	</div>
	<div class="calendar-table-block table-wrap">
		<table class="layui-table" lay-even="" lay-skin="nob">
		  <colgroup>
		    <col width="180">
		    <col width="250">
		    <col width="200">
		    
		    <col>
		  </colgroup>
		  <thead>
		    <tr>
		      <th>回款时间</th>
		      <th>项目名称</th>
		      <th>应回总额</th>
		      <th>应回本金</th>
		      <th>应回利息</th>
		    </tr> 
		  </thead>
		  <tbody id="tableTbody">
		    <!--<tr>
		      <td>贤心</td>
		      <td>汉族</td>
		      <td>1989-10-14</td>
		      <td>人生似修行</td>
		      <td>人生似修行</td>
		    </tr>-->
		  </tbody>
		</table> 
		<p class="notes"><span>注：</span>回款计划仅展示未回款完成的项目</p>
	</div>
</div>

	<!--分页容器-->
	<div class="ta-c mt15" id="accountDetailLaypageBox"></div>
</div>
<script src="../../js/moment.js"></script>
<script src="../../js/user/model/collection_calendar.js"></script>