<!--企业基本信息-->
<h4 class="child-page-title">基本信息</h4>

<div class="bx-item">
	<dl>
		<dt><i class="iconfont icon-shoujirenzheng"></i></dt>
		<dd>
			<p class="p1">手机认证</p>
			<p class="p2">用于接收手机验证码，在车聚宝平台的重要凭证</p>
		</dd>
	</dl>
	<div class="bx-r">
		<span id="loginAccount"></span>
		<a class="modify-btn company-btn" data-url="settings/modify_register_mobile" href="javascript:void(0);">修改</a>
	</div>
</div>

<div class="bx-item">
	<dl>
		<dt><i class="iconfont icon-youxiangrenzheng"></i></dt>
		<dd>
			<p class="p1">邮箱认证</p>
			<p class="p2">邮件接收账户通知，及时了解账户信息变动情况</p>
		</dd>
	</dl>
	<div class="bx-r">
		<span id="email"></span>
		<a class="modify-btn company-btn" data-url="settings/modify_email" href="javascript:void(0);">修改</a>
	</div>
	<div class="bx-r hide">
		<a class="bx-r-btn company-btn" data-url="settings/bind_email" href="javascript:void(0);">绑定</a>
	</div>
</div>

<div class="bx-item">
	<dl>
		<dt><i class="iconfont icon-qiyerenzheng"></i></dt>
		<dd>
			<p class="p1">企业认证</p>
			<p class="p2">公司信息披露，信息透明</p>
		</dd>
	</dl>
	<div class="bx-r hide" id="realName"></div>
	<div class="bx-r">
		<a class="bx-r-btn company-btn" data-url="settings/company_real_name" href="javascript:void(0);">认证</a>
	</div>
</div>

<div class="bx-item">
	<dl>
		<dt><i class="iconfont icon-yinhangqia"></i></dt>
		<dd>
			<p class="p1">银行卡</p>
			<p class="p2">可管理本账户关联银行卡的绑定</p>
		</dd>
	</dl>
	<div class="bx-r hide" id="bandCard"></div>
	<div class="bx-r">
		<a class="bx-r-btn company-btn" data-url="settings/company_real_name" href="javascript:void(0);">绑定</a>
	</div>
</div>

<div class="bx-item">
	<dl>
		<dt><i class="iconfont icon-denglumima"></i></dt>
		<dd>
			<p class="p1">登录密码</p>
			<p class="p2">定期变更登录密码，可以使您的账户更加安全</p>
		</dd>
	</dl>
	<div class="bx-r">
		<a id="modify-login-pwd" class="bx-r-btn company-btn" data-url="settings/modify_login_pwd" href="javascript:void(0);">修改</a>
	</div>
</div>
<div class="bx-item" id="bankPhone">
	<dl>
		<dt><i class="iconfont icon-shoujirenzheng"></i></dt>
		<dd>
			<p class="p1">银行卡预留手机</p>
			<p class="p2">保障账户与资金安全，及时了解账户信息变动情况</p>
		</dd>
	</dl>
	<div class="bx-r">
		<a class="bx-r-btn company-btn" id="modifyBankMobileCompany" href="javascript:void(0);">修改</a>
	</div>
</div>
<div class="bx-item bx-item-l" id="resetPayPwd">
	<dl>
		<dt><i class="iconfont icon-jiaoyimima"></i></dt>
		<dd>
			<p class="p1">交易密码</p>
			<p class="p2">保障资金安全，建议您交易密码区别于登录密码</p>
		</dd>
	</dl>
	<div class="bx-r">
		<a class="modify-btn company-btn" id="modifyLoginPassCompany" href="javascript:void(0);">修改</a>
		<span class="c-border">&emsp;|</span>
		<a class="modify-btn company-btn" id="resetPayPassCompany" href="javascript:void(0);">重置</a>
	</div>
</div>
<a class="fr mr70" id="closeAccount" href="javascript:void(0);">销户</a>

<script src="../../js/user/model/company_info.js"></script>
