<!--邀请好友-->
<h4 class="child-page-title">邀请记录<a class="right-btn" href="#inviting_friends">返回<i class="iconfont"></i></a></h4>

<div class="table-wrap">
	<table class="layui-table" lay-skin="nob">
	    <colgroup>
	        <col width="100">
	        <col width="190">
	        <col width="100">
	    </colgroup>
	    <thead>
	    <tr>
	        <th>用户名</th>
	        <th>注册时间</th>
	        <th>是否实名</th>
	    </tr>
	    </thead>
	    <tbody id="invitingListInfo"></tbody>
	</table>

	<!--分页容器-->
	<div class="ta-c mt15" id="invitingListPage"></div>
</div>
<script src="../../js/user/model/inviting_friends_list.js"></script>

