<!--邀请好友-->
<h4 class="child-page-title">邀请好友<a class="right-btn" href="#inviting_friends_list">邀请记录<i class="iconfont icon-arrow-right"></i></a></h4>
<ul class="my-invite clearfix">
	<li><span class="span-i">已邀请好友（人）：</span><span class="people-s" id="hasInvitedFriends"></span></li>
</ul>
<div class="space"></div>

<div class="my-link">
	<h3><i class="iconfont icon-lianjie"></i><span>方式一：复制链接给好友</span></h3>
	<div class="link-inp">
		<input class="link-t" type="text" name="" id="inviteUrl"/>
		<span class="copy-btn">复制链接</span>
	</div>
	<h3><i class="iconfont icon-weixin"></i><span>方式二：微信扫一扫，通过点击右上角，发送给朋友分享</span></h3>
	<div class="qr-k qrcode"><i class="codeico hide"></i></div>
	<div class="space"></div>
	<h3><i class="iconfont icon-guize"></i><span>奖励规则</span></h3>
	<p class="rules">邀请一个好友注册马上到账五元红包</p>
</div>

<script src="../../plugins/QR-code/excanvas.compiled.js"></script>
<script src="../../plugins/QR-code/jquery.qrcode.min.js"></script>
<script src="../../js/user/model/inviting_friends.js"></script>

