<!--我的红包-->

<!--头部导航-->
<h4 class="child-page-title">红包<a class="right-btn" href="#rule_gift_money"><span class="va-m">使用说明</span><i class="iconfont icon-arrow-right"></i></a></h4>
<ul class="common-navbar clearfix">
	<li class="tab active">可使用</li>
	<li class="vl"></li>
	<li class="tab">已使用</li>
	<li class="vl"></li>
	<li class="tab">已过期</li>
</ul>

<!--内容容器-->
<div class="tab-content" id="tabContent"></div>

<!--分页容器-->
<div class="ta-c mt15" id="laypageBox"></div>

<script src="../../js/user/model/my_gift_money.js"></script>
