<!--我的加息券-->
<h4 class="child-page-title">加息劵<a class="right-btn" href="#rule_interest_coupon">使用说明<i class="iconfont icon-arrow-right"></i></a></h4>
<ul class="common-navbar clearfix">
	<li class="tab active">可使用</li>
	<li class="vl"></li>
	<li class="tab">已使用</li>
	<li class="vl"></li>
	<li class="tab">已过期</li>
</ul>

<!--内容容器-->
<div class="tab-content" id="tabContent"></div>

<!--分页容器-->
<div class="ta-c mt15" id="laypageBox"></div>

<script src="../../js/user/model/my_interest_coupon.js"></script>