<!--我的投资-->
<h4 class="child-page-title">我的投资
    <!--<a class="right-btn" href="javascript:showCalendarView();">查看待回款列表<i class="iconfont icon-arrow-right"></i></a>-->
</h4>

<ul class="common-navbar clearfix">
    <li class="tab active">持有中</li>
    <li class="vl"></li>
    <li class="tab">已回款</li>
    <li class="vl"></li>
    <li class="tab">未成立</li>
</ul>

<!--待回款-->
<div class="table-wrap">
    <table class="layui-table" lay-skin="nob" id="table">
        <thead id="investThead"></thead>
        <tbody id="investTbody"></tbody>
    </table>
</div>
<!--分页容器-->
<div class="ta-c mt15" id="investLaypageBox"></div>

<script src="../../js/user/model/my_invest.js"></script>
