<!--我的债权转让-->
<h4 class="child-page-title">债权转让</h4>
<ul class="common-navbar clearfix transfer">
    <li class="tab active">可转让债权</li>
    <li class="vl"></li>
    <li class="tab">转让中债权</li>
    <li class="vl"></li>
    <li class="tab">已转让债权</li>
    <li class="vl"></li>
    <li class="tab">已购买债权</li>
</ul>

<div class="table-wrap">
    <table class="layui-table" lay-skin="nob">
	    <thead id="transferThead">
	    </thead>
	    <tbody id="transferTbody">
	    </tbody>
    </table>

	<!--分页容器-->
	<div class="ta-c mt15" id="myTransferLaypageBox"></div>
</div>
<script src="../../js/user/model/my_transfer.js"></script>
