<!--我要转让-->
<h4 class="child-page-title">债权转让</h4>
<div>
	<form class="form-section" id="transferForm">
		<div class="row-box row-gain">
	        <label>转让本金：</label>
	        <span class="right-default">
				<span id="investAmount" class="right-default"></span>
			</span>
	    </div>
		<div class="row-box row-gain">
	        <label>转让收益：</label>
			<span class="right-default">
				<span id="expectedProfitAmount"></span>
			</span>
	    </div>
		<div class="row-box row-gain">
	        <label>合计：</label>
	        <span id="totalAmount" class="right-default"></span>
	    </div>

		<input type="hidden" name="investId" id="investId">

		<div class="row-box">
			<label>短信验证码：</label>
			<div class="div-get-yzm">
				<input class="input-normal form-control" type="text" name="smsCaptcha" id="captcha" autocomplete="off"  placeholder="请输入短信验证码" maxlength="6"/>
				<button type="button" id="getSms">获取验证码</button>
			</div>
			<p class="captcha" hidden>验证码发送到：<span id="bankPhone"></span></p>
		</div>

		<!--<div class="row-box row-gain">
	        <label>转让手续费：</label>
			<span class="right-default">
				 <span id="transferChargeAmt"></span>
			</span>
	    </div>-->
		<div class="row-box row-gain row-label">
	        <label>转让过期时间：</label>
	        <span id="interestEndTime" class="right-default"></span>
	    </div>
	    <p class="transfer-able-tip">(超过过期日期未成交将被系统撤销)</p>
	    <div class="row-box">
			<input class="user-btn" type="button" name="" id="confirmTransfer" value="确认转让" />
		</div>
    </form>
    
</div>
<script src="../../js/user/model/my_transfer_able.js"></script>
