<!--个人基本信息-->
<h4 class="child-page-title">基本信息</h4>

<div class="bx-item">
	<dl>
		<dt><i class="iconfont icon-shoujirenzheng"></i></dt>
		<dd>
			<p class="p1">手机认证</p>
			<p class="p2">用于接收手机验证码，在车聚宝平台的重要凭证</p>
		</dd>
	</dl>
	<div class="bx-r">
		<span id="loginAccount"></span>
		<a class="modify-btn personal-btn" data-url="settings/modify_register_mobile" href="javascript:void(0);">修改</a>
	</div>
</div>

<div class="bx-item">
	<dl>
		<dt><i class="iconfont icon-youxiangrenzheng"></i></dt>
		<dd>
			<p class="p1">邮箱认证</p>
			<p class="p2">邮件接收账户通知，及时了解账户信息变动情况</p>
		</dd>
	</dl>
	<div class="bx-r">
		<span id="email"></span>
		<a class="modify-btn personal-btn" data-url="settings/modify_email" href="javascript:void(0);">修改</a>
	</div>
	<div class="bx-r hide">
		<a class="bx-r-btn personal-btn" data-url="settings/bind_email" href="javascript:void(0);">绑定</a>
	</div>
</div>

<div class="bx-item">
	<dl>
		<dt><i class="iconfont icon-shimingrenzheng"></i></dt>
		<dd>
			<p class="p1">实名认证</p>
			<p class="p2">保障资金安全和正常投资</p>
		</dd>
	</dl>
	<div class="bx-r hide" id="realName"></div>
	<div class="bx-r">
		<a class="bx-r-btn personal-btn" data-url="settings/personal_real_name" href="javascript:void(0);">认证</a>
	</div>
</div>

<div class="bx-item">
	<dl>
		<dt><i class="iconfont icon-yinhangqia"></i></dt>
		<dd>
			<p class="p1">银行卡</p>
			<p class="p2">可管理本账户关联银行卡的绑定、更换</p>
		</dd>
	</dl>
	<div class="bx-r hide" id="bandCard"></div>
	<div class="bx-r"><a class="bx-r-btn" id="bindCard" href="javascript:void(0);">绑卡</a></div>
</div>

<div class="bx-item">
	<dl>
		<dt><i class="iconfont icon-denglumima"></i></dt>
		<dd>
			<p class="p1">登录密码</p>
			<p class="p2">定期变更登录密码，可以使您的账户更加安全</p>
		</dd>
	</dl>
	<div class="bx-r"><a id="modify-login-pwd" class="bx-r-btn personal-btn" data-url="settings/modify_login_pwd" href="javascript:void(0);">修改</a></div>
</div>

<div class="bx-item" id="bankPhone">
	<dl>
		<dt><i class="iconfont icon-shoujirenzheng"></i></dt>
		<dd>
			<p class="p1">银行卡预留手机</p>
			<p class="p2">保障账户与资金安全，及时了解账户信息变动情况</p>
		</dd>
	</dl>
	<div class="bx-r">
		<a class="bx-r-btn" id="modifyBankMobile" href="javascript:void(0);">修改</a>
	</div>
</div>
<div class="bx-item" id="resetPayPwd">
	<dl>
		<dt><i class="iconfont icon-jiaoyimima"></i></dt>
		<dd>
			<p class="p1">交易密码</p>
			<p class="p2">保障资金安全，建议您交易密码区别于登录密码</p>
		</dd>
	</dl>
	<div class="bx-r">
		<a class="modify-btn" id="modifyLoginPass" href="javascript:void(0);">修改</a>
		<span class="c-border">&emsp;|</span>
		<a class="modify-btn" id="resetPayPass" href="javascript:void(0);">重置</a>
	</div>
</div>
<div class="bx-item" id="accountCancellation">
	<p class="account-cancellation">
		如要变更用户角色，请先   <a class="xh" id="closeAccount" href="javascript:void(0);">销户</a>
	 (进行销户操作前，“帐户余额”、“在投标的”、“冻结金额”必须为空，如有疑问，可联系客服:400-684-8856，依据客服引导进行销户)
	</p>
</div>


<!--遮罩层-->
<div class="mask"></div>

<div class="bind-card-box">
	<form class="form-section">
		<div class="row-box row-gain">
			<label>当前手机号：</label>
			<span id="checkPhone" class="right-default"></span>
		</div>
		<div class="row-box">
			<label>短信验证码：</label>
			<div class="div-get-yzm">
				<input class="input-normal form-control" type="text" id="smsForUnbindCard" placeholder="请输入短信验证码" autocomplete="off" maxlength="6">
				<button type="button" id="getSmsForUnbindCard">获取验证码</button>
			</div>
		</div>
	</form>
	<a href="javascript:void(0);" class="suc-b" id="unbindCardBtn">解绑银行卡</a>
</div>

<script src="../../js/user/model/personal_info.js"></script>
