<!--风险评测-->
<h4 class="child-page-title">风险评测</h4>

<div class="rist-question-wrap">
	<h5 class="question-title">投资者风险承受能力调查问卷</h5>
	<div class="t2">以下问题可在您选择合适的产品前，协助评估您的风险承受能力、投资方式及投资目标，感谢您的支持与积极参与。本问卷内容高度保密！敬请放心！</div>
	<div class="question-row">
	    <p>1：您的年龄？</p>
	    <label class="option-row">
	        <input type="radio" name="question-1" value="8"/>
	        <span>18-25岁</span>
	    </label>
	    <label class="option-row">
	        <input type="radio" name="question-1" value="10"/>
	        <span>25到40岁</span>
	    </label>
	    <label class="option-row">
	        <input type="radio" name="question-1" value="6"/>
	        <span>40到50岁</span>
	    </label>
	    <label class="option-row">
	        <input type="radio" name="question-1" value="4"/>
	        <span>50到60岁</span>
	    </label>
	    <label class="option-row">
	        <input type="radio" name="question-1" value="0"/>
	        <span>60岁以上</span>
	    </label>
	</div>
	<div class="question-row">
	    <p>2：您计划投资多久？</p>
	    <label class="option-row">
	        <input type="radio" name="question-2" value="10"/>
	        <span>3年以上 </span>
	    </label>
	    <label class="option-row">
	        <input type="radio" name="question-2" value="8"/>
	        <span>1至3年</span>
	    </label>
	    <label class="option-row">
	        <input type="radio" name="question-2" value="6"/>
	        <span>6个月至1年</span>
	    </label>
	    <label class="option-row">
	        <input type="radio" name="question-2" value="2"/>
	        <span>半年以下</span>
	    </label>
	</div>
	<div class="question-row">
	    <p>3：您通过我公司投资的的金额规模，预计占您金融性总资产的比例为多少？</p>
	    <label class="option-row">
	        <input type="radio" name="question-3" value="2"/>
	        <span>低于30%</span>
	    </label>
	    <label class="option-row">
	        <input type="radio" name="question-3" value="4"/>
	        <span>30%至50%</span>
	    </label>
	    <label class="option-row">
	        <input type="radio" name="question-3" value="6"/>
	        <span>50%至75%</span>
	    </label>
	    <label class="option-row">
	        <input type="radio" name="question-3" value="10"/>
	        <span>高于70% </span>
	    </label>
	</div>
	<div class="question-row">
	    <p>4：以下哪项描述正确反映了您的投资经验？</p>
	    <label class="option-row">
	        <input type="radio" name="question-4" value="10"/>
	        <span>丰富（5年以上），且希望自主投资</span>
	    </label>
	    <label class="option-row">
	        <input type="radio" name="question-4" value="6"/>
	        <span>熟悉（3至5年），但希望专业人士协助</span>
	    </label>
	    <label class="option-row">
	        <input type="radio" name="question-4" value="4"/>
	        <span>一般（1至3年），有一些投资意识 </span>
	    </label>
	    <label class="option-row">
	        <input type="radio" name="question-4" value="2"/>
	        <span>非常有限，不具备投资经验</span>
	    </label>
	</div>
	<div class="question-row">
	    <p>5：您的工作是？</p>
	    <label class="option-row">
	        <input type="radio" name="question-5" value="2"/>
	        <span>自由职业</span>
	    </label>
	    <label class="option-row">
	        <input type="radio" name="question-5" value="4"/>
	        <span>在校学生</span>
	    </label>
	    <label class="option-row">
	        <input type="radio" name="question-5" value="5"/>
	        <span>蓝领 </span>
	    </label>
	    <label class="option-row">
	        <input type="radio" name="question-5" value="10"/>
	        <span>企业或事业单位员工及公务员</span>
	    </label>
	</div>
	<div class="question-row">
	    <p>6：收入主要来自？</p>
	    <label class="option-row">
	        <input type="radio" name="question-6" value="4"/>
	        <span>工资奖金</span>
	    </label>
	    <label class="option-row">
	        <input type="radio" name="question-6" value="6"/>
	        <span>生产经营</span>
	    </label>
	    <label class="option-row">
	        <input type="radio" name="question-6" value="8"/>
	        <span>金融或房地产投资 </span>
	    </label>
	    <label class="option-row">
	        <input type="radio" name="question-6" value="10"/>
	        <span>其他</span>
	    </label>
	</div>
	<div class="question-row">
	    <p>7：您感觉目前负担的经济压力？</p>
	    <label class="option-row">
	        <input type="radio" name="question-7" value="10"/>
	        <span>非常轻松，完全没有压力 </span>
	    </label>
	    <label class="option-row">
	        <input type="radio" name="question-7" value="6"/>
	        <span>一般，基本没有压力 </span>
	    </label>
	    <label class="option-row">
	        <input type="radio" name="question-7" value="4"/>
	        <span>较大，但尚能承受 </span>
	    </label>
	    <label class="option-row">
	        <input type="radio" name="question-7" value="2"/>
	        <span>很大，还贷等负担较重</span>
	    </label>
	</div>
	<div class="question-row">
	    <p>8：您在投资时最看重的是什么？</p>
	    <label class="option-row">
	        <input type="radio" name="question-8" value="10"/>
	        <span>每年获得稳定收益，获得长期收益 </span>
	    </label>
	    <label class="option-row">
	        <input type="radio" name="question-8" value="6"/>
	        <span>获得短期的高收益 </span>
	    </label>
	    <label class="option-row">
	        <input type="radio" name="question-8" value="4"/>
	        <span>在通货膨胀时资产不贬值 </span>
	    </label>
	    <label class="option-row">
	        <input type="radio" name="question-8" value="2"/>
	        <span>保住本金</span>
	    </label>
	</div>
	<div class="question-row">
	    <p>9：如果短期内您的投资遭受一些损失，您的心理状态是？</p>
	    <label class="option-row">
	        <input type="radio" name="question-9" value="10"/>
	        <span>习以为常，也许是跟进的好机会</span>
	    </label>
	    <label class="option-row">
	        <input type="radio" name="question-9" value="6"/>
	        <span>司空见惯，只当是积累经验，但不再追加投资</span>
	    </label>
	    <label class="option-row">
	        <input type="radio" name="question-9" value="4"/>
	        <span>对情绪有一定影响，继续观望</span>
	    </label>
	    <label class="option-row">
	        <input type="radio" name="question-9" value="2"/>
	        <span>对情绪影响很大，想立即退出</span>
	    </label>
	</div>
	<div class="question-row">
	    <p>10：以下哪项是您可接受的投资价值波动程度？</p>
	    <label class="option-row">
	        <input type="radio" name="question-10" value="10"/>
	        <span>投资成长并赚取最高回报潜力，能接受长期（3年以上）的负面波动，包括损失本金</span>
	    </label>
	    <label class="option-row">
	        <input type="radio" name="question-10" value="6"/>
	        <span>寻求较高收益和成长性的最佳结合，愿意接受2-3年的负面波动，以使回报显著高于定期存款利息</span>
	    </label>
	    <label class="option-row">
	        <input type="radio" name="question-10" value="4"/>
	        <span>保守投资，但可以接受低于2年的少许负面波动，以使回报显著高于定期存款利息</span>
	    </label>
	    <label class="option-row">
	        <input type="radio" name="question-10" value="2"/>
	        <span>不希望投资本金承担风险，投资回报与定期存款利息持平即可</span>
	    </label>
	</div>
	
	<a class="sub-btn" href="javascript:void(0);">提交问卷</a>
	
</div>



<script type="text/javascript">
	$('.sub-btn').click(function () {
		var qestions = $('.question-row');
		var score = 0, scoreText = "";
		for (var index = 1; index <= qestions.length; index++) {
			var itemVal = $('input[name="question-' + index + '"]:checked').val();
			if (itemVal) {
				score += Number(itemVal);
			} else {
				layer.msg("请完成问题" + index, {time:1000}, function () {
					$('input[name="question-' + index + '"]').focus();
				});
				return false;
			}
		}

		if (score < 50) {
			scoreText = "保守型";
		} else if (score >= 50 && score < 70) {
			scoreText = "稳健型";
		} else if (score >= 70 && score < 90) {
			scoreText = "成长型";
		} else {
			scoreText = "进取型";
		}

		riskAssessmentSubmit(scoreText);

	});

	function riskAssessmentSubmit(result) {
		AjaxUtil.ajaxPostCallBack(userProfileApiUrl.riskLevel, JSON.stringify({riskLevel: result}), function () {
			window.location.href = $_GLOBAL.basePath() + "/views/user/user_index.html#risk_assessment_result";
			$(document).scrollTop(80);
		});
		userInfo = commonAPIUtil.initUserInfo();
	}



</script>


