<h4 class="child-page-title">
    债权转让 - 已转让
    <a class="right-btn" href="javascript:goBack();">返回<i class="iconfont icon-arrow-right"></i></a>
</h4>
<div class="invest-detail transfer-success">
    <h6><span></span><b>项目信息</b></h6>
    <table class="layui-table ta-c">
        <colgroup>
            <col width="150">
            <col width="200">
            <col width="150">
            <col width="200">
        </colgroup>
        <tbody>
        <tr>
            <td>项目名称</td>
            <td class="tradeName"></td>
            <td>历史年化收益率</td>
            <td class="tradeInterestRate"></td>
        </tr>
        <tr>
            <td>投资金额(元)</td>
            <td class="transferOriginAmt"></td>
            <td>预期收益(元)</td>
            <td class="remainProceedsAmt"></td>
        </tr>
        <tr>
            <td>投资期限</td>
            <td class="investTerm"></td>
            <td>回款方式</td>
            <td class="tradeRepayMethod"></td>
        </tr>
        </tbody>
    </table>
    <h6><span></span><b>转让信息</b></h6>
    <table class="layui-table ta-c">
        <colgroup>
            <col width="150">
            <col width="200">
            <col width="150">
            <col width="200">
        </colgroup>
        <tbody>
        <tr>
            <td>转让提交日期</td>
            <td class="transferCreateTime"></td>
            <td>转让成交日期</td>
            <td class="receiveTime"></td>
        </tr>
        <tr>
            <td>转让金额(元)</td>
            <td class="transferActualAmt"></td>
            <td>手续费(元)</td>
            <!--<td class="transferChargeAmt"></td>-->
            <td class="">--</td>
        </tr>
        <tr>
            <td>受让用户</td>
            <td class="receiveUserAccount"></td>
            <td>转让合同</td>
            <td><a id="previewContractBtn" class="modify-btn preview" target="_blank" href="javascript:;">合同预览</a></td>
        </tr>
        </tbody>
    </table>
</div>
<script>
	var transferSuccess = $('.transfer-success');
    $(document).ready(function () {
		if('undefined' == typeof transferId){
			window.location.href = "user_index.html#my_transfer";
			return false;
        }

		AjaxUtil.ajaxPostCallBack(userAccountApiUrl.transferDetail, JSON.stringify({transferId: transferId}), function (result) {
            layui.each(result.data, function (k, v) {
                var selector = '[class="' + k + '"]';
                var elt = transferSuccess.find(selector);
                if(!v){
                    v = "- - -"
                }
                if(typeof (v) == 'string'){
                    elt.text("" + v);
                } else if(typeof (v) == 'number'){
                    elt.text(v);
                } else if(typeof (v) == 'object'){
                    elt.text(MoneyUtil.formatMoney(v.amount));
                }
            });
            addInfo(result);
        });
    });

    function addInfo(result) {
        var data = result.data;
		transferSuccess.find('[class="tradeInterestRate"]').text(NumberUtil.transfPercentage(data.tradeInterestRate));
		transferSuccess.find('[class="tradeRepayMethod"]').text(data.tradeRepayMethod.message);
		transferSuccess.find('[class="transferCreateTime"]').text(DateUtils.longToDateString(data.transferCreateTime));
		transferSuccess.find('[class="receiveTime"]').text(DateUtils.longToDateString(data.receiveTime));

        //合同地址
        if(data.contractStatus){
            $('#previewContractBtn').click(function () {
                var param = {
                    "contractId": data.contractId
                };
                var res = AjaxUtil.ajaxPost(userAccountApiUrl.getContract, JSON.stringify(param));
                if(res){
                    window.open(res.data, "_blank")
                }
            });
        } else {
            $("#previewContractBtn").text("待生成");
        }
    }


</script>

