<h4 class="child-page-title">
    债权转让 - 已购买
    <a class="right-btn" href="javascript:goBack();">返回<i class="iconfont icon-arrow-right"></i></a>
</h4>
<div class="invest-detail transfer-received">
    <h6><span></span><b>项目信息</b></h6>
    <table class="layui-table ta-c">
        <colgroup>
            <col width="150">
            <col width="200">
            <col width="150">
            <col width="200">
        </colgroup>
        <tbody>
        <tr>
            <td>项目名称</td>
            <td class="tradeName"></td>
            <td>项目状态</td>
            <td class="transferStatus"></td>
        </tr>
        <tr>
            <td>转让用户</td>
            <td class="transferUserAccount"></td>
            <td>历史年化收益率</td>
            <td class="tradeInterestRate"></td>
        </tr>
        <tr>
            <td>购买金额(元)</td>
            <td class="transferActualAmt"></td>
            <td>预期收益(元)</td>
            <td class="remainProceedsAmt"></td>
        </tr>
        <tr>
            <td>转让成交日期</td>
            <td class="receiveTime"></td>
            <td>转让期限(天)</td>
            <td class="remainInvestDays"></td>
        </tr>
        <tr>
            <td>回款方式</td>
            <td class="tradeRepayMethod"></td>
            <td>转让合同</td>
            <td><a id="previewContractBtn" class="modify-btn preview" target="_blank" href="javascript:;">合同预览</a>
            </td>
        </tr>
        </tbody>
    </table>
    <h6><span></span><b>回款信息</b></h6>
    <table class="layui-table ta-c">
        <colgroup>
            <col width="150">
            <col width="200">
            <col width="150">
            <col width="200">
        </colgroup>
        <tbody>
        <tr>
            <td>转让起息日期</td>
            <td class="">转让成功当日</td>
            <td>回款日期</td>
            <td class="nextPaybackTime"></td>
        </tr>
        <tr>
            <td>已回款期数</td>
            <td class="alreadyPaybackPeriod"></td>
            <td>下期回款日</td>
            <td class="nextRepayDate"></td>
        </tr>
        <tr>
            <td>已回款本金(元)</td>
            <td class="alreadyPaybackCapitalAmount"></td>
            <td>已累计收益(元)</td>
            <td class="alreadyPaybackProceedsAmount"></td>
        </tr>
        <tr>
            <td>待回款本金(元)</td>
            <td class="waitPaybackCapitalAmount"></td>
            <td>待收收益(元)</td>
            <td class="waitPaybackProceedsAmount"></td>
        </tr>
        </tbody>
    </table>
</div>
<script>
	var transferReceived = $('.transfer-received');
	$(document).ready(function () {

		if ('undefined' == typeof transferId) {
			window.location.href = "user_index.html#my_transfer";
			return false;
		}

		AjaxUtil.ajaxPostCallBack(userAccountApiUrl.transferDetail, JSON.stringify({transferId: transferId}), function (result) {
			layui.each(result.data, function (k, v) {
				var selector = '[class="' + k + '"]';
				var elt = transferReceived.find(selector);
				if (!v) {
					v = "- - -"
				}
				if (typeof (v) == 'string') {
					elt.text("" + v);
				} else if (typeof (v) == 'number') {
					elt.text(v);
				} else if (typeof (v) == 'object') {
					elt.text(MoneyUtil.formatMoney(v.amount));
				}
			});
			addInfo(result);
		});
	});

	function addInfo(result) {
		var data = result.data;
		transferReceived.find('[class="tradeInterestRate"]').text(NumberUtil.transfPercentage(data.tradeInterestRate));
		transferReceived.find('[class="tradeRepayMethod"]').text(data.tradeRepayMethod.message);
		transferReceived.find('[class="transferStatus"]').text(data.transferStatus.message);
		transferReceived.find('[class="transferCreateTime"]').text(DateUtils.longToDateString(data.transferCreateTime));
		transferReceived.find('[class="receiveTime"]').text(DateUtils.longToDateString(data.receiveTime));

		transferReceived.find('[class="alreadyPaybackCapitalAmount"]').text(MoneyUtil.formatMoney(data.alreadyPaybackCapitalAmount.amount));
		transferReceived.find('[class="alreadyPaybackProceedsAmount"]').text(MoneyUtil.formatMoney(data.alreadyPaybackProceedsAmount.amount));
		transferReceived.find('[class="waitPaybackCapitalAmount"]').text(MoneyUtil.formatMoney(NumberUtil.sub(data.transferActualAmt.amount,data.alreadyPaybackCapitalAmount.amount)));
		transferReceived.find('[class="waitPaybackProceedsAmount"]').text(MoneyUtil.formatMoney(NumberUtil.sub(data.remainProceedsAmt.amount,data.alreadyPaybackProceedsAmount.amount)));

        //合同地址
        if(data.contractStatus){
            $('#previewContractBtn').click(function () {
                var param = {
                    "contractId": data.contractId
                };
                var res = AjaxUtil.ajaxPost(userAccountApiUrl.getContract, JSON.stringify(param));
                if(res){
                    window.open(res.data, "_blank")
                }
            });
        } else {
            $("#previewContractBtn").text("待生成");
        }
	}
</script>

