<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no,email=no,address=no"/>
    <link rel="shortcut icon" href="../../img/favicon.ico"/>
    <title>转让标详情 - 车聚宝</title>

    <script src="../../js/ismobile.js"></script>
    <link rel="stylesheet" type="text/css" href="../../plugins/layui/css/layui.css?v=2.1.5"/>
    <link rel="stylesheet" type="text/css" href="../../css/base.css"/>
    <link rel="stylesheet" type="text/css" href="../../iconfont/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/common.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/invest.css"/>

</head>
<body>
<!------公用头部------>
<header id="header"></header>

<!--content start-->
<div class="invest-bg-wrap">
    <!--详情上部分-->
    <div class="transfer-detail-top clearfix">
        <!--左边-->
        <div class="transfer-detail-top-left">
            <div class="transfer-project-title">
                <h3 class="tradeName"></h3>
            </div>

            <ul class="transfer-project-data clearfix">
                <li>
                    <p class="p1 c-main-red tradeInterestRate"></p>
                    <p class="p2">历史年化收益率</p>
                </li>
                <li>
                    <p class="p1 remainInvestDays"></p>
                    <p class="p2">剩余期限</p>
                </li>
                <li>
                    <p class="p1" id="transferAmount"></p>
                    <p class="p2">转让金额</p>
                </li>
            </ul>

            <ul class="transfer-project-else clearfix">
                <li>
                    <p>借款用途：<span id="loanPurpose"></span></p>
                    <p>起息时间：转让提交日期</p>
                </li>
                <li>
                    <p>还款方式：<span id="repayMethod"></span></p>
                    <p>下一还款日期：<span id="nextRepayTime"></span></p>
                </li>
            </ul>
        </div>

        <!--右边-->
        <div class="transfer-detail-top-right">
            <div class="transfer-common-row trow-1">
                <span class="">转让金额（元）：</span>
                <span class="c-2b transferAmount"></span>
            </div>
            <div class="transfer-common-row trow-2">
                <span class="">预计收益（元）：</span>
                <span class="c-main-blue expectedInterestAmount"></span>
            </div>
            <div class="transfer-common-row fs-14">
                <span class="">可用余额（元）：</span>
                <span class="c-main-blue canUseMoney"></span>
            </div>

            <a class="transfer-common-row trow-3" href="javascript:void(0);" id="transferRightAwayInvestment">立即投资</a>
            <div class="transfer-common-row trow-4">
                <label class="ky-xy">
                    <input class="cr-pr" type="checkbox" name="transferAgreement"/>
                    <span class="va-m">我已阅读并了解</span>
                </label>
                <a class="c-main-blue va-m" href="https://oss.chejubao.cn/agreement/PC/html/transfer_sale.html" target="_blank">《债权资产再转让协议》</a>
                <a class="c-main-blue va-m" href="https://oss.chejubao.cn/agreement/PC/html/CA_certificate.html" target="_blank">《CA数字证书使用协议》</a>
            </div>
        </div>
    </div>

    <!--详情下部分-->
    <div class="detail-bottom">
        <ul class="project-info-nav clearfix">
            <li class="active">转让详情<span></span></li>
            <li>借款信息<span></span></li>
            <li>风险提示<span></span></li>
            <li>安全保障<span></span></li>
        </ul>

        <div class="project-info-item transfer-project-info-item active">
            <table class="layui-table ta-c">
                <colgroup>
                    <col width="150">
                    <col width="200">
                    <col width="150">
                    <col width="200">
                </colgroup>
                <tbody>
                <tr>
                    <td>转让用户</td>
                    <td class="transferUserAccount"></td>
                    <td>历史年化收益率</td>
                    <td class="tradeInterestRate"></td>
                </tr>
                <tr>
                    <td>转让原始金额</td>
                    <td class="transferOriginAmt"></td>
                    <td>回款方式</td>
                    <td class="tradeRepayMethod"></td>
                </tr>
                <tr>
                    <td>转让金额</td>
                    <td class="transferActualAmt"></td>
                    <td>预期收益</td>
                    <td class="remainProceedsAmt"></td>
                </tr>
                <tr>
                    <td>转让提交时间</td>
                    <td class="transferCreateTime"></td>
                    <td>转让截止时间</td>
                    <td class="transferExpireTime"></td>
                </tr>
                <tr>
                    <td>剩余投资天数</td>
                    <td class="remainInvestDays"></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="project-info-item">
            <div class="personal hide">
                <h5>基本介绍</h5>
                <p class="fs-14">借款人：<span class="loanerName"></span>&nbsp;&nbsp;<span class="loanerDesc"></span></p>
                <h5>平台借款记录</h5>
                <table class="layui-table ta-c">
                    <colgroup>
                        <col width="150">
                        <col width="200">
                        <col width="150">
                        <col width="200">
                        <col width="150">
                        <col width="200">
                    </colgroup>
                    <tbody>
                    <tr>
                        <td>借款笔数</td>
                        <td><span class="loanTimes"></span>笔</td>
                        <td>逾期笔数</td>
                        <td><span class="overdueTimes"></span>笔</td>
                        <td>逾期总金额</td>
                        <td><span class="overdueAmount"></span>元</td>
                    </tr>
                    </tbody>
                </table>
                <h5>相关审核证件</h5>
                <ul class="loan-detail-list-icon">
                    <li data-class="identity_cert_flag"><i class="iconfont icon-shenfenzhengrenzheng-"></i>
                        <p>身份认证</p></li>
                    <li data-class="driver_license_flag"><i class="iconfont icon-jiashizheng-"></i>
                        <p>驾驶证/行驶证认证</p></li>
                    <li data-class="third_contract_flag"><i class="iconfont icon-yunshuhetong-"></i>
                        <p>运输合同认证(与核心物流企业业务)</p></li>
                </ul>
                <h5>其它平台情况（借款前6个月）</h5>
                <p class="fs-14"><span class="loanStatusWithOtherPlatform"></span></p>
            </div>
            <div class="company hide">
                <h5>企业介绍</h5>
                <p class="fs-14">借款人：<span class="loanerName"></span>&nbsp;&nbsp;<span class="loanerDesc"></span></p>
                <h5>经营范围</h5>
                <p class="fs-14"><span class="businessScope"></span></p>
                <h5>经营状况</h5>
                <p class="fs-14"><span class="businessState"></span></p>
                <h5>平台借款记录</h5>
                <table class="layui-table ta-c">
                    <colgroup>
                        <col width="150">
                        <col width="200">
                        <col width="150">
                        <col width="200">
                        <col width="150">
                        <col width="200">
                    </colgroup>
                    <tbody>
                    <tr>
                        <td>借款笔数</td>
                        <td><span class="loanTimes"></span>笔</td>
                        <td>逾期笔数</td>
                        <td><span class="overdueTimes"></span>笔</td>
                        <td>逾期总金额</td>
                        <td><span class="overdueAmount"></span>元</td>
                    </tr>
                    </tbody>
                </table>
                <h5>相关审核证件</h5>
                <ul class="loan-detail-list-icon">
                    <li data-class="business_license_flag"><i class="iconfont icon-yingyezhizhao-"></i>
                        <p>营业执照认证</p></li>
                    <li data-class="legal_person_identity_flag"><i class="iconfont icon-farenshenfenzheng-"></i>
                        <p>法人身份认证</p></li>
                    <li data-class="trade_license_flag"><i class="iconfont icon-hangyexukezheng-"></i>
                        <p>行业许可证认证</p></li>
                    <li data-class="third_contract_flag"><i class="iconfont icon-yunshuhetong-"></i>
                        <p>与核心物流企业业务运输合同认证</p></li>
                </ul>
                <h5>其它平台情况（借款前6个月）</h5>
                <p class="fs-14"><span class="loanStatusWithOtherPlatform"></span></p>
            </div>
        </div>

        <div class="project-info-item" id="safeguard">
            <!--<p class="fw-b">车聚宝与天津金城银行存管已正式上线，资金交易环节均在银行系统中进行，资金交易均由用户授权银行操作执行，确保每一笔交易的资金安全性。您在车聚宝的每一笔投资与提现资金，均经银行系统进行划转，处于其监管之下，车聚宝平台本身并不会碰触到用户资金。车聚宝与存管银行共同协作，规避资金池风险，严格遵守央行监管规定，从流程与合规性上保障投资人资金安全。
            </p>-->
            <p class="fw-b">合作机构保障</p>
            <p class="t2">对借款人进行管理、推荐、审核或者在车聚宝进行债权资产转让的车聚宝合作机构，根据各方签署的法律文件，对其转让、推荐和/或审核并由投资人购买、投资的债权资产的偿付，通过提供包括但不限于担保、补足承诺、有限垫付、回购承诺的形式，保障投资人利益的实现。
            </p>
            <p class="t2">当借款项目出现逾期，借款人不能按时归还本息，将由车聚宝合作机构先行代偿；当该笔逾期债权足额垫付后，则该债权对应的借款人其后为该笔债权偿还的本金、利息、罚息等应归属“垫付机构”。
            </p>
        </div>

        <div class="project-info-item" id="pointDanger">
            <p class="fw-b">在投资网络借贷时，可能会获得较高的投资收益，但同时也存在着较大的投资风险。为了使您能更好地了解其中的风险，根据有关网络借贷法律法规规定，特提供本风险提示书，请认真详细阅读。投资者从事网络借贷存在如下风险：</p>
            <p class="fw-b mt-10">1.信用风险</p>
            <p class="t2">如债务人发生资金状况或经营状况的风险，您将可能无法按时足额获得投资本金及收益。</p>
            <p class="fw-b mt-10">2.流动性风险</p>
            <p class="t2">借贷存在一定的存续期，投资者无提前终止权，可能导致您需要资金时无法随时变现，并可能使您丧失其他投资机会。</p>
            <p class="fw-b mt-10">3.技术风险</p>
            <p class="t2">由于交易撮合及资金划转等过程是通过电子通讯技术和电脑技术来实现的，这些技术存在着被网络黑客和计算机病毒攻击的可能，同时通讯技术、电脑技术和相关软件具有存在缺陷的可能，这些风险可能给您带来损失或转账资金不能即时到账。</p>
            <p class="fw-b mt-10">4.政策风险</p>
            <p class="t2">因国家金融监管政策、财政政策、货币政策、行业政策、地区发展、法律法规等因素引起的风险，您将可能无法按时足额获得投资本金及收益。</p>
            <p class="fw-b mt-10">5.不可抗力因素导致的风险</p>
            <p class="t2">由于战争、动乱、自然灾害、公共网络瘫痪等不可抗力因素的出现而可能导致您无法按时足额获得投资本金及收益。</p>
            <p class="fw-b mt-10">6.其他风险</p>
            <p>由于您密码失密、操作不当、投资决策失误等原因可能会使您发生损失；网上委托、热键操作完毕后未及时退出，他人进行恶意操作而造成的损失；网上交易未及时退出还可能遭遇黑客攻击，从而造成损失；委托他人代理投资，致使他人恶意操作而造成的损失；其他意外事件造成的损失；上述损失都将由您自行承担。</p>
            <p class="fw-b mt-10">上海开颜金融信息服务有限公司在此郑重提示：</p>
            <p class="t2">在投资前，投资者应确保自己完全理解该项投资的性质和所涉及的风险，详细了解和审慎评估该项目的资金流向、风险类型及预期收益等基本情况。上海开颜金融信息服务有限公司提醒用户应本着“充分了解风险、自主选择投资”的原则，谨慎决策，自愿出借其合法所有的资金，在慎重考虑后自行决定投资与自身风险承受能力和资产管理需求相匹配的项目；在投资项目后，随时关注该项目的信息披露情况，及时获取相关信息。</p>
            <p class="fr mt-20">网络借贷有风险，出借需谨慎！</p>
            <p class="fr">上海开颜金融信息服务有限公司</p>
        </div>
    </div>

</div>
<!--content end-->

<!------公用底部------>
<footer class="footer" id="footer"></footer>

<!--遮罩层-->
<div class="mask"></div>

<!--投资弹框-->
<div class="pop-invest">
    <i class="iconfont icon-quxiao suc-close"></i>
    <h3 class="p-tit tradeName"></h3>
    <p class="p-row">投资金额：<span class="transferAmount"></span><span>元</span></p>
    <p class="p-row">大写金额：<span id="CnyMoney"></span></p>
    <p class="p-row">可用余额：<span id="canUseMoney"></span><span>元</span></p>
    <div class="p-row pri">
        <input class="pri-1 beauty-input" type="text" id="message" placeholder="短信验证码" maxlength="6"/>
        <button class="pri-2 c-main-blue" href="javascript:void(0);" id="getTransferMsg">获取验证码</button>
    </div>
    <p class="p-row p-tel">验证码发送至：<span id="loginAccount"></span></p>
    <a class="p-row pr-btn" href="javascript:void(0);" id="confirmInvest">确认投资</a>
</div>

<!--投资成功弹框-->
<div class="suc-box">
    <div class="suc-top">
        <i class="iconfont icon-zhengque icon-jiantouxian"></i>
        <span>投资成功！</span>
        <i class="iconfont icon-quxiao suc-close"></i>
    </div>
    <a href="javascript:history.back();" class="suc-b">继续投资</a>
    <p class="suc-bottom va-m"><span>10</span>&nbsp;秒后跳转至&nbsp;<a class="c-main-blue"
                                                                  href="../../views/user/user_index.html">个人中心</a></p>
</div>

<script src="../../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../plugins/layui/layui.js?v=2.1.5"></script>
<script src="../../plugins/validate/jquery.validate.min.js?v=1.14.0"></script>
<script src="../../plugins/validate/jquery.validate.extends.js"></script>
<script src="../../js/jquery.cookie.js"></script>
<script src="../../properties/host-config.properties.js"></script>
<script src="../../js/api-config.js"></script>
<script src="../../js/base-utils.js"></script>
<script src="../../js/base-utils.api.js"></script>
<script src="../../js/invest/transfer_detail.js"></script>
<script src="../../js/login.js"></script>

</body>
</html>
